@media (max-width: 576px) {

	



}

@media (max-width: 768px) {
	
  
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
	
 .page-header .brand{margin-top:30px!important; }
 .page-header .brand .title{font-size:40px;}
 .inner_six{padding:80px 0px 50px;}
 .inner_six h2{font-size:30px;}
 .page-header .brand .hook{ line-height:30px; font-size:24px;}
 .page-header .phone{margin-top: -10px;}
 .section-why-switch{margin:20px 0px; padding: 30px 0px;}
 .section-why-switch .reasons h2{}
 .section-why-switch .reasons .info .icon{ width:100%; margin:10px 0px; }
 .info-title{width:100%;}
 .section-why-switch .reasons .info p{width:100%; margin:8px 0px;}

 .social-icons{text-align:center; width:68%; margin:15px auto; padding:0px; float:none;}
 .navbar.navbar-dark .breadcrumb .nav-item.active > .nav-link:hover, .navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link:hover, .navbar.navbar-dark .navbar-toggler, .navbar.navbar-dark form .md-form .form-control{    color: #000 !important;    position: relative;    top: -28px;    right: -19px;}
.show .nav-link {color:#000!important;}
 .topbar{padding: 10px 0px 41px 0px;}
 .boxCenterImg img{width:100%}
 .navbar-toggler{}
.show ul{background:#fefdfd; border-radius:5px; border-radius:5px; border: 1px solid aliceblue; padding:15px 12px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
.mobile_menu{z-index:55;}
.navbar-toggler{top: -8px!important;position: relative;right: -20px;}
 .social-icons img{ width:70px; height::auto; margin: 0px 20px; }
 .why_switch_box_first{ margin:20px 0px 10px 0px;}
 .why_switch_box{margin:10px 0px;}
 .services .phone img{width:60%}
 .phone .smsImage{width:51.9% !important; left:24%}
 }

 @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)  { 
.blue-annual,.ever_reapir{padding-top:46px;}
.boiler_replacemen_img_left{width:100%}
.boiler_replacemen_img_left img{width:100%; position:relative;}
.gap-left-box{margin-right:0px;}
.fix-box-br{display:none;}
.ever_bottom_bg_top,.ever_bottom_bg,.annaul_bottom_bg_top,.annaul_bottom_bg{min-height:150px;}
.logo{font-size:25px;}
.page-header{ margin-top:10px;}
.why_switch_box_first{margin-top:0px;}
.why_switch_box{margin:10px 0px;}
.section-why-switch .reasons .info .icon{float:none; width:100px; margin:10px auto;}
.section-why-switch .reasons{margin-top:10px;}
.section-easy-steps{padding-top:80px;}
.btnNew .btn-eversmart{font-size:12px!important;}
.cd-section{padding:50px 0px;}
.red-rounded-wave{ background:url(../img/waves-02.png) linear-gradient(45deg, rgba(255,88,88,1) 0%, rgba(241,70,138,1) 85%, rgba(238,67,147,1) 100%) left bottom  no-repeat; margin-top:-20px;   background-size:contain;}
.boiler_header-h{padding-bottom:100px;}
.main-rounded-red-header{ background-size:cover;}
.cs_switching{margin-top:0px}
.bolier_home-h-l{margin-top:12px;}
.main_footer{min-height:1100px;  background-size: 138% auto}
.btn.btn-twitter.btn-simple, .navbar .navbar-nav > li > a.btn.btn-twitter.btn-simple{color:#000!important;}
.btn.btn-facebook.btn-simple, .navbar .navbar-nav > li > a.btn.btn-facebook.btn-simple {color:#000!important;}
.social-footer{bottom:5px;}
.social-footer .fa{color:#fff;}
.copyright{margin-bottom:0px;}
#footer-blue{min-height:1110px; background-size:210% auto;}
.bolier_home-h-l{font-size:40px;}
.bolier_home-h-s{font-size:21px;}

.main-bottom-round{padding-bottom:29px;}
.postcode_box{padding-bottom:150px;}

 .page-header .brand{margin-top:30px; text-align:center;}
 .page-header .brand .title{font-size:30px; text-align:center;}
 .inner_six{padding:80px 0px 50px;}
 .inner_six h2{font-size:30px;}
 .page-header .brand .hook{ line-height:30px; font-size:24px; text-align:center;}
 .page-header .phone{margin-top: 70px;}
 .section-why-switch{ padding: 30px 0px;}
 .section-why-switch .reasons h2{text-align:center;}
 .section-why-switch .reasons .info .icon{ width:100%; margin:10px 0px; text-align:center;}
 .info-title{width:100%; text-align:center;}
 .section-why-switch .reasons .info p{width:100%; text-align:center;margin:10px 0px;}
 .section-smart-customer-services .services-xs .social-icons .social-icon img{width:52px;}
 .social-icons{text-align:center; width:100%; margin:5px auto; padding:0px; float:none;}
 .social-icons img{ width:45px; height::auto; margin: 0px 20px; }

 .navbar.navbar-dark .breadcrumb .nav-item.active > .nav-link:hover, .navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link:hover, .navbar.navbar-dark .navbar-toggler, .navbar.navbar-dark form .md-form .form-control{    color: #000 !important;    position: relative;    top: -28px;    right: -19px;}
.show .nav-link {color:#000!important;}
 .topbar{padding: 35px 0px 41px 0px;}
 .boxCenterImg img{width:100%}
 .navbar-toggler{}
.show ul{background:#fefdfd; border-radius:5px; border-radius:5px; border: 1px solid aliceblue; padding:15px 12px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
.mobile_menu{z-index:55;}
.navbar-toggler{top: -27px;position: relative;right: -20px;}
.back_step .material-icons{top:-50px! important; left:30px!important; position:absolute;  z-index:555;}
.main-bottom-round{padding-bottom:30px;}



/*.social-footer{position:relative;}
.copyright {position:relative;}*/
}

@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 768px)  { 
.blue-annual,.ever_reapir{padding-top:75px;}
.annual_price .card-tariff a{left:22%;}
.boiler_replacemen_img_left img{width:100%; position:relative;}
.gap-left-box{margin-right:0px;}
.fix-box-br{display:none;}
.ever_bottom_bg_top,.ever_bottom_bg,.annaul_bottom_bg_top,.annaul_bottom_bg{min-height:150px;}
.logo{font-size:25px;}
.page-header{ margin-top:10px;}
.why_switch_box_first{margin-top:0px;}
.why_switch_box{margin:10px 0px;}
.section-why-switch .reasons .info .icon{float:none; width:100px; margin:10px auto;}
.section-why-switch .reasons{margin-top:10px;}
.section-easy-steps{padding-top:80px;}
.btnNew .btn-eversmart{font-size:12px!important;}
.cd-section{padding:50px 0px;}
.red-rounded-wave{ background:url(../img/waves-02.png) linear-gradient(45deg, rgba(255,88,88,1) 0%, rgba(241,70,138,1) 85%, rgba(238,67,147,1) 100%) left bottom  no-repeat; margin-top:-20px;   background-size:contain;}
.boiler_header-h{padding-bottom:100px;}
.main-rounded-red-header{ background-size:cover;}
.cs_switching{margin-top:0px}
.bolier_home-h-l{margin-top:12px; font-size:40px;}

#footer-blue{min-height:750px; background-size:130% auto;}
.main_footer{min-height:750px; background-size:127% auto;}
.bolier_home-h-s{font-size:18px;}
.main-bottom-round{padding-bottom:57px;}
}

@media only screen and (min-device-width : 1825px) and (max-device-width : 1920px) {	
		
		.three_bottom{ min-height: 418px!important;}
		.main-bottom-round{padding-bottom:160px;}
	
}

