.btn-eversmart-primary {
    background: #ec4759;
    border-radius: 5px;
    color: #fff;
    display: block;
    margin-top: 10px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.25s ease-in-out;
    display: inline-block;
}

.btn-eversmart-primary:hover {
    opacity: .8;
}

.btn-eversmart-quote-step {
    border: 2px solid #ea495c;
    background-color: #ea495c;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    height: 42px;
    width: 50%;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    min-width: 150px;
    max-width: 200px;
    display: block;
}

.btn-eversmart-quote-step:hover {
    opacity: .8;
    cursor: pointer;
}

#quote-step .inner a.submit {
    margin-top: 8px;
    padding: 0.5rem 1rem !important;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    height: 42px;
    width: 50%;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    min-width: 150px;
    max-width: 200px;
    display: block;
    text-align: center;

}

#quote-step.quote-container .inner a.submit {
    margin-top: 32px;
    border: 2px solid #ea495c;
    background-color: #ea495c;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    height: 42px;
    width: 50%;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    min-width: 150px;
    max-width: 200px;
    display: block;
    text-align: center;
}

#quote-step.quote-container .inner a.submit:hover  {
    opacity: .8;
    cursor: pointer;
}

form a:not(.checkbox):not(.contentLink) {
    margin-top: 32px;
    border: 2px solid #ea495c;
    background-color: #ea495c;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    height: 42px;
    width: 50%;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    min-width: 150px;
    max-width: 200px;
    display: block;
    text-align: center;
}

form a:not(.checkbox):hover  {
    opacity: .8;
    cursor: pointer;
}

.btn-evermsart-outline {
	background: #ec4759;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	margin-top: 10px;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	transition: opacity 0.25s ease-in-out;
}


.btn-evermsart-outline:hover {
	opacity: .8;
}


.btn-eversmart-transparent-outline {
    color: white !important;
    border: 1px solid white !important;
    background-color: transparent !important;
    border-radius: 5px;
    display: block;
    margin-top: 10px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.25s ease-in-out;
    display: inline-block;
}

.btn-evermsart-transparent-outline:hover {
    opacity: .8;
    background-color: rgb(212, 212, 212) !important;
    cursor: pointer;
}

.btn-eversmart-jumbo {
    display: inline-block;
    padding: 0;
    margin: 10px;
    flex: 1;
    min-width: 200px;
    height: 290px;
    max-width: 290px;
    position: relative;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 0 0 1px #0000001c;
    border: 2px solid #fff;
        border-top-color: rgb(255, 255, 255);
        border-top-width: 2px;
        border-right-color: rgb(255, 255, 255);
        border-right-width: 2px;
        border-bottom-color: rgb(255, 255, 255);
        border-bottom-width: 2px;
        border-left-color: rgb(255, 255, 255);
        border-left-width: 2px;
    transition: border-width 0.1s linear;
}

.btn-eversmart-jumbo:hover {
    border-width: 2px;
    border-bottom-width: 2px;
    border-bottom-width: 10px;
    border-color: rgb(12,147,105);
}

.btn.btn-eversmart-jumbo .wrap {
    margin: 0;
    width: 140px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
}

.btn.btn-eversmart-jumbo .wrap .btn-contents {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    color: #ea495c;
    font-size: 1.25em;
}