@import "./buttons.css";
@import "./header.css";
@import "./footer.css";
@import "./helpers.css";
@import "./text.css";
@import "./form.css";

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    display: block;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Ginger', sans-serif, Arial, Helvetica;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
}

header h1 {
    color: #222;
    position: absolute;
    bottom: -128px;
}

.container {
    max-width: 100%;
    width: 1100px !important;
    margin-left: auto;
    margin-right: auto;
}


header {
    background-color: rgb(232, 232, 232);
    color: rgb(22, 22, 22);
    text-align: center;
    display: inline-block;
    width: 100%;
}

header h1 {
    color: rgb(22, 22, 22);
    text-align: center;
    width: 100%;
}

.page {}


section.section-general {
    padding: 70px 10% 0 10%;
    text-align: center;
    min-height: 400px;
}

.sticky .site-logo {
    background-image: url("/assets/images/new-world/logos/logo-2018-red.png");
}

.site-logo,
.menu-open .site-logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    width: auto;
    height: 20px;
    background-image: url("/assets/images/new-world/logos/logo-2019-white.png");
}

.get-quote-form {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    padding: 4px;
    background-color: rgb(242, 242, 242);
    border-radius: 4px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.get-quote-form input {
    min-height: 32px;
    text-align: left;
    max-width: 190px;
    padding: 0.8rem 1rem;
    outline: none;
    background-color: rgb(242, 242, 242);
    color: #222;
    margin: 0 auto !important;
    border: 0 !important;
}


.get-quote-form input::placeholder {
    font-family: Ginger, Verdana, "sans-serif";
    color: #222 !important;
    opacity: 0.8;
}

.get-quote-form button {
    font-family: Ginger, Verdana, "sans-serif";
    background-color: rgb(12, 147, 105);
    color: rgb(242, 242, 242);
    border-radius: 4px;
    border: 0;
    text-align: right;
    min-height: 32px;
    max-width: 120px;
    padding: 8px 14px;
    outline: none;
}

.ctaButton {
    font-family: Ginger, Verdana, "sans-serif";
    background-color: rgb(12, 147, 105);
    color: rgb(242, 242, 242);
    border-radius: 4px;
    border: 0;
    text-align: center;
    margin-top: 10px;
    padding: 10px 25px;
    outline: none;
    font-size: 16px;
    text-decoration: none;
}

.homeBullets {
    list-style: none;
    padding: 0;
}

.get-quote-form button:hover {
    opacity: 0.8;
}

.get-quote-form button:focus {
    opacity: 1;
    background-color: rgb(8, 127, 85);
}

section.hero.hero-header {
    margin-top: 90px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    text-align: center;
    background-color: rgb(122, 122, 122);
    color: rgb(242, 242, 242);
    padding: 16px 10%;
}


section.hero {
    display: flex;
    flex-flow: row wrap;
}

section.hero p {}
section.hero .hero-iconarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 180px;
    text-align: center;
}

section.hero .hero-iconarea>img {
    margin-left: auto;
    margin-right: auto;
    width: 128px;
    height: 128px;
}


section.hero.hero-fullwidth {
    width: 100%;
    text-align: center;
}

.hero-padding {
    padding: 24px 10%;
    min-height: 40vw;
}

.hero-tall-padding {
    padding: 48px 10%;
}

.hero-padding-small { padding: 6% 18px; }
.hero-padding-small {
    padding: 24px 10%;
    min-height: 20vw;
}

.background-grey {
    background-color: rgb(232, 232, 232);
    color: rgb(22, 22, 22);
}

.background-red {
    background-color: rgb(231, 63, 82);
    color: rgb(254, 251, 251);
}

.background-white {
    background-color: rgb(247, 247, 247);
    color: rgb(22, 22, 22);
}

section.hero.hero-img {
    min-height: 50vh;
    background: url('/assets/images/new-world/home-services/home-services.jpg') center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    color: white;
}

@media (max-width: 768px) {
    section.hero.hero-header {
        margin-top: 60px;
    }

    .hero-padding {
        min-height: 90vw;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    section.hero.hero-header {
        margin-top: 60px;
    }

    .hero-padding {
        min-height: 50vw;
    }
}


@media (min-width: 1023px) and (max-width: 1200px) {
    section.hero.hero-header {
        margin-top: 60px;
    }
}

/* Layout */
@media (max-width: 768px) {
    .layout-25-xs {
        flex: 25%;
    }

    .layout-33-xs {
        flex: 33.3%;
    }

    .layout-50-xs {
        flex: 50%;
    }

    .layout-6-xs {
        flex: 66.6%;
    }

    .layout-75-xs {
        flex: 75%;
    }

    .layout-100-xs {
        flex: 100%;
    }
}
@media (min-width: 769px) and (max-width: 1023px) {
    .layout-25-sm {
        flex: 25%;
    }

    .layout-33-sm {
        flex: 33.3%;
    }

    .layout-50-sm {
        flex: 50%;
    }

    .layout-6-sm {
        flex: 66.6%;
    }

    .layout-75-sm {
        flex: 75%;
    }

    .layout-100-sm {
        flex: 100%;
    }
}
@media (min-width: 1024px) and (max-width: 1199px) {
    .layout-25-md {
        flex: 25%;
    }

    .layout-33-md {
        flex: 33.3%;
    }

    .layout-50-md {
        flex: 50%;
    }

    .layout-6-md {
        flex: 66.6%;
    }

    .layout-75-md {
        flex: 75%;
    }

    .layout-100-md {
        flex: 100%;
    }
}
@media (min-width: 1200px) {
    .layout-25-lg {
        flex: 25%;
    }

    .layout-33-lg {
        flex: 33.3%;
    }

    .layout-50-lg {
        flex: 50%;
    }

    .layout-6-lg {
        flex: 66.6%;
    }

    .layout-75-lg {
        flex: 75%;
    }

    .layout-100-lg {
        flex: 100%;
    }
}