#MAIN-footer {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}

.bottom {
    border-top: 2px solid rgb(233 237 239);
    background-color: #f6fafc;
    padding: 90px 15px;
    display: flex;
    width: 100%;
    align-items: center;
    /* padding: 90px 90px 90px 0px;
    margin: 0px -60px -90px -60px; */

}

#MAIN-footer .sections-wrap,
#MAIN-footer .bottom {
    display: block;
    margin-top: 40px;
    text-align: center;
}

#MAIN-footer .sections-wrap section {
    display: block;
}

#MAIN-footer .sections-wrap section span {
    font-size: 0.91012rem;
    line-height: 1.78571rem;
}

#MAIN-footer .sections-wrap section[data-type="info"] {
    max-width: 312px;
    padding-top: 24px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto;
}

#MAIN-footer .sections-wrap section[data-type="info"] .img-wrap {
    width: 100%;
}

#MAIN-footer .sections-wrap section[data-type="info"] .img-wrap img {
    max-width: 100%;
}

#MAIN-footer .sections-wrap section[data-type="info"] div:not(.img-wrap) h6 {
    font-size: 0.91012rem;
    line-height: 1.78571rem;
    text-transform: capitalize;
    margin: 25px 0 0 0;
}

#MAIN-footer .sections-wrap section[data-type="info"] div:not(.img-wrap) ul {
    list-style-type: none;
    padding:  0;
    margin: 0;
}

#MAIN-footer .sections-wrap section[data-type="info"] div:not(.img-wrap) ul li {
    text-transform: lowercase;
}

#MAIN-footer .sections-wrap section[data-type]:not([data-type="info"])  {
    max-width: 100%;
    margin-left: 0;
    margin-top: 52px;
}

#MAIN-footer .sections-wrap section[data-type]:not([data-type="info"]) h5 {
    font-size: 18px;
    padding: 0 0 0.92857rem;
    margin-bottom: 0px;
}


#MAIN-footer .sections-wrap section[data-type="opening"] ul li  {
    position: relative;
    font-size: 0.91012rem;
    line-height: 1.78571rem;
    margin-left: -7px;
    padding-left: 7px;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    margin-right: 12px;
}

#MAIN-footer .sections-wrap section[data-type="opening"] {
    padding-left: 24px;
}


#MAIN-footer .sections-wrap section[data-type="opening"] ul  {
    margin-bottom: -22px !important;
}


#MAIN-footer .sections-wrap section[data-type]:not([data-type="info"]) ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#MAIN-footer .sections-wrap section[data-type]:not([data-type="info"]) ul li {
    position: relative;
    font-size: 0.91012rem;
    line-height: 1.78571rem;
    margin-left: -7px;
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 12px;
}


#MAIN-footer .sections-wrap section[data-type="contact"] ul li a:before {
    content: '';
    display: block;
    position: absolute;
    left: -30px;
    top: 3px;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    background-position: 0 0;
    background-size: 20px auto;
}

#MAIN-footer .sections-wrap section[data-type="contact"] span {
    font-size: 0.91012rem;
    line-height: 1.78571rem;
    font-weight: 500;
    display: block;
    margin-top: -1px;
}

#MAIN-footer .sections-wrap section[data-type="contact"] ul.energy {
    margin-bottom: 25px;
}

#MAIN-footer h6 {
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 500;
}

#MAIN-footer .sections-wrap section[data-type]:not([data-type="info"]) ul li a {
    color: #575757;
    font-weight: 400;
    text-decoration: none;
    position: relative;
}

#MAIN-footer .bottom {
    display: block;
}

#MAIN-footer .bottom .social-wrap ul {
    list-style-type: none;
    text-align: center;
    display: block;
    padding: 0;
    margin: 0;
}

#MAIN-footer .bottom .social-wrap ul li {
    display: inline-block;
}

#MAIN-footer .bottom .social-wrap ul li:not(:last-child) {
    margin-right: 15px;
}

#MAIN-footer .bottom .social-wrap ul li a {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    opacity: 1;
    width: 25px;
    height: 25px;
    transition: opacity 0.25s ease-in-out;
}
#MAIN-footer .bottom .social-wrap ul li a:hover {
    opacity: 0.8;
}

#MAIN-footer .bottom .social-wrap ul li a img {
    max-width: 100%;
}

#MAIN-footer .bottom .statement-wrap {
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
    font-size: 12px;
}


@media only screen and (min-width: 1024px) {
	#MAIN-footer .sections-wrap {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: flex-start;
		align-content: flex-start;
		margin: 50px 60px 0 60px;
	}
	#MAIN-footer .sections-wrap section {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 15%;
		align-self: flex-start;
	}
	#MAIN-footer .sections-wrap section[data-type]:not([data-type="info"])  {
		max-width: 336px;
		margin-left: 23px;
	}

	#MAIN-footer .sections-wrap section[data-type="services-support"]:not([data-type="info"])  {
		max-width: 180px;
		margin-left: 23px;
	}
	#MAIN-footer .sections-wrap section[data-type="useful"]:not([data-type="info"])  {
		max-width: 260px;
		margin-left: 23px;
	}

	#MAIN-footer .bottom .social-wrap ul {
		text-align: center;
	}
	#MAIN-footer .bottom .statement-wrap {
		text-align: center;
	}
	#MAIN-header #menu-wrap #menu #menu-list {
		margin: 0;
	}
	#MAIN-footer .sections-wrap,
	#MAIN-footer .bottom {
		text-align: left;
	}
	#MAIN-footer .sections-wrap section[data-type="info"] {
		margin: 0;
	}
}