form {
    color: black;
}

form header {
    margin-top: -40px;
    margin-left: -40px;
    margin-right: -40px;
    color: #ea495c;
}
.form-container, .quote-container .inner {
    display: inline-block;
    width: 68%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    max-width: 705px;
    margin: 0 auto;
}

@media (max-width: 426px) {
    .form-container {
        margin-top: 20px;
        padding: 5px;
        width: 100%;
    }
    #landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li section a.get-quote-link {
        left: 0 !important;
    }
}

.compare-wrap {
    margin-top: 20px;
}
.form-group {
    margin-bottom: 15px;
    width: 100%;
    color: black;
}

.form-group label {
    width: 100%;
    margin: 10px;
    color: black;
    font-size: 16px;
}

select, input:not([type="radio"]):not([type="checkbox"]) {
    display: block;
    width: 100%;
    border-radius: 4px;
    border: 2px solid #dedede;
    background: #f7f7f7;
    padding: 0.8rem 1rem;
    margin-bottom: 8px;
    margin-top: 8px;
    font-weight: 500;
    transition: border-color 0.25s ease-in-out;
    font-size: 1rem;
    appearance: none;
}

.password-strength {
    margin-bottom: 15px;
    display: block;
}