.hidden {
    display: none !important;
}


.pull-left {
	align-self: flex-start;
}

.pull-right {
	align-self: flex-end;
}

.quote-container {
	display: flex;
	padding: 25px 0;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.quote-step-title {
	color: #ea495c;
	padding: 0 5%;
}

.testimonial-hero {

}

.testimonial-hero .testimonial-text {
	font-family: "Ginger";
	font-size: 1.6rem;
	position: relative;
	padding-top: 12px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.8rem;
	font-weight: 300;
	text-align: center;
}
.testimonial-hero .testimonial-text:before {
	font-family: "Ginger";
	content: "\0201C";
	font-size: 77px;
	font-weight: 600;
	position: absolute;
	color: rgb(231, 63, 82);
	top: -22px;
	left: -20px;
	height: 60px;
	transform: translate(-50%);
}
.testimonial-hero .testimonial-text:after {
	font-family: "Ginger";
	content: "\0201D";
	font-size: 77px;
	font-weight: 600;
	position: absolute;
	color: rgb(231, 63, 82);
	bottom: -18px;
	right: -58px;
	height: 60px;
	transform: translate(-50%);
}

.testimonial-hero .testimonial-information {
	padding-right: 20px;
	padding-left: 20px;
}

.testimonial-hero .testimonial-information .testimonial-name {
	font-family: "Ginger Bold";
	font-size: 1.3rem;
    font-weight: 600;
	text-align: center;
}

.testimonial-hero .testimonial-information .testimonial-position {
	font-family: "Ginger";
	font-size: 0.9rem;
	color: #222;
	font-weight: 400;
	text-align: center;
}


@media (max-width: 768px) {
    .hidden-xs {
		display: none !important;
	}
}

@media (min-width: 769px) and (max-width: 1023px) {
    .hidden-sm {
		display: none !important;
	}
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .hidden-md {
		display: none !important;
	}
}

@media (min-width: 1200px) {
    .hidden-lg {
		display: none !important;
	}
}


/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
	visibility: hidden;
}


/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap; /* 1 */
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
	white-space: inherit;
}

/* Clear fixes */
.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.clearfix:after {
	clear: both;
}


::-moz-selection {
    background: #ee4555;
    text-shadow: none;
    color: #fff;
}

::selection {
    background: #ee4555;
    text-shadow: none;
    color: #fff;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

a.contentLink {
	color: #ea495c;
}