<form id="cv-upload">
    <input type="hidden" name="role" class="input"/>
    <input type="text" name="name" class="input" placeholder="Name" required/>
    <input type="email" name="email" class="input" placeholder="Email" required/>
    <div class="upload-wrap">
        <input type="file" name="cv" class="input" accept=".doc,.docx,application/msword,application/pdf" required/>
        <button class="facade"></button>
    </div>
    <a href="#" class="submit">Submit</a>
</form>
