
#contact-page-wrap {
    display: block;
    position: relative;
    min-height: 230px;
    background-color: #f6fafc;
    margin-bottom: -20px;
}

#contact-page-wrap header {
    display: block;
    position: relative;
    width: 100vw;
    background-color: #ea495c;
    background-repeat: no-repeat;
    vertical-align: top;
    margin-top: 0;
    z-index: 1;
}
#contact-page-wrap header h1 {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
    bottom: -128px;
    z-index: 11;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

#contact-page-wrap  section {
    padding: 50px 10% 40px 10%;
    text-align: center;
}
#contact-page-wrap  section[data-type="energy"] {
    margin-bottom: 35px;
}
#contact-page-wrap  section[data-type="home-services"] {
    padding: 0;
}
#contact-page-wrap  section p {
    margin-bottom: 25px;
}
#contact-page-wrap  section .cta-list {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#contact-page-wrap  section .cta-list li {
    display: inline-block;
    vertical-align: top;
}
#contact-page-wrap  section .cta-list li:not(:last-child) {
    margin-right: 12px;
    margin-bottom: 16px;
}
#contact-page-wrap  section .cta-list li a {
    display: block;
    width: 200px;
    height: 200px;
    border: 3px solid #fff;
    border-radius: 4px;
    position: relative;
    transition: border-color 0.3s ease-in-out;
    background-color: #fff;
    box-shadow: 0 0 2px 0px #0000001c;
}
#contact-page-wrap  section .cta-list li a:hover {
    border-color: #ea495c;
}
#contact-page-wrap  section .cta-list li a .img-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
}
#contact-page-wrap  section .cta-list li a .img-wrap img {
    max-width: 100%;
}
#contact-page-wrap  section .cta-list li a .img-wrap img.phone-fix {
    height: 64px;
}
#contact-page-wrap  section .cta-list li a .img-wrap img.headset-fix {
    height: 32px;
}
#contact-page-wrap  section .cta-list li a span {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 600;
    width: 80%;
    color: #ea495c;
}