<div class="inner" data-type="{{ type }}">
    <header>
        <h3>Your <span class="product-name">repair</span> will cost you</h3>
        <span class="price"></span>
        <span class="caption"></span>
    </header>
    <section class="customize">
        <h3>Customise your Cover</h3>
        <div class="option-wrap">
            <div class="option">
                <h4>Choose your excess</h4>
                <ul class="excess-list"></ul>
                <span>This means you'd pay £<span class="excess-value">0</span> for each completed repair, but if you don't have any repairs, there'd be no excess to pay.</span>
            </div>
            <div class="option">
                <h4>Choose Payment Method</h4>
                <ul class="payment-type-list"></ul>
                <span><strong>If you choose to pay annually, you will get a discount of £<span class="annual-diff-value">0</span>.</strong> Paying by direct debit removes the hassle of late payments.</span>
            </div>
        </div>
        <div class="overview annual">
            <h4>Payment schedule</h4>
            <span class="caption"></span>
            <div class="breakdown">
                <h5>Breakdown:</h5>
                <ul>
                    <li class="first-month">
                        <span class="label">First month payment:</span>
                        <span class="price"></span>
                    </li>
                    <li class="monthly">
                        <span class="label">11 monthly payments of:</span>
                        <span class="price"></span>
                    </li>
                    <li class="annual">
                        <span class="label">Annual:</span>
                        <span class="price"></span>
                    </li>
                </ul>
            </div>
            <p>* All prices displayed are inclusive of insurance premium tax(IPT).</p>
        </div>
    </section>
    <section class="includes">
        <div class="included">
            <h3>What's Included</h3>
            <ul></ul>
        </div>
        <div class="excluded">
            <h3>What's not Included</h3>
            <ul></ul>
        </div>
    </section>
    <section class="agree">
        <a href="#" class="input checkbox"></a>
        <span>Yes, I have read all the <a href="http://eversm.art/hppolicy" class="tncs" rel="noopener" target="_blank">terms and conditions</a> and agree on them.</span>
    </section>
    <a href="#" class="submit" title="Continue">Continue</a>
</div>
