<div class="radio-wrap" data-for="{{ for }}">
    <h3>Manually enter your {{ title }}</h3>
    {{!-- <div class="radio">
        <input type="radio" name="serial-{{ id }}" value="serial" class="radio-field" checked="checked" id="serial-radio" />
        <label for="serial-radio">By Serial</label>
    </div> --}}
    <div class="serial-input-wrap">
        <div class="form-group">
            <label for="{{ id }}">Serial Number</label>
            <div class="input-group">
        <input type="{{ type }}" name="{{ name }}" id="{{ id }}" class="{{ className }} required" placeholder="{{ placeholder }}"/>
        <a href="#" class="submit submit-serial" title="Verify">Verify</a>
        </div>
        </div>
        <div class="valid">
            <img src="/assets/images/new-world/icons/valid-tick.svg" alt="valid" />
        </div>
        {{!-- <a href="#" class="submit-serial" title="Submit Serial">
            <img src="assets/images/new-world/icons/arrow-500.svg" alt="Submit Serial" />
        </a> --}}
    </div>
    <div class="no-serial">
        <h4>Are you are having trouble finding your {{ title }} serial number? <a class='tingleImg contentLink' data-img="/assets/images/new-world/quotation/meters/{{title}}MeterTrans.png" href="#">Click here</a> or contact us on <a class="contentLink" href="tel:0161332022">0161 332 0022</a> to have us set up your account or contact an agent via our <a href="#" class="contentLink open_intercom"> live chat.</a></h4>
    </div>
</div>