<div class="bankDetailInfo">
    <h3>Enter your bank details below</h3>
    <p>Your payments will be the same every month, and we'll take them direct from your bank.</p>

    <a href="/assets/pdf/___Direct_Debit_Guarantee.pdf" target="_blank" class="contentLink"
        title="Read the Direct Debit Guarantee">Direct Debit
        Guarantee</a>
</div>


<div class="form-group">
    <label for="title">Name on Account</label>
    <input type="text" data-wtc="account_name" name="account_name" placeholder="" class="required" />
</div>
<div class="form-group">
    <label for="title">Sort Code</label>
    <input type="text" data-wtc="sort_code" name="sort_code" placeholder="" maxlength="8" class="required sort_code" />
</div>
<div class="form-group">
    <label for="title">Account number</label>
    <input type="text" data-wtc="account_number" name="account_number" placeholder="" maxlength="8" class="required" />
</div>