<div class="inner" data-type="{{ type }}">
    <h3>Order Summary</h3>
    {{!-- <div class="info-wrap" data-type="address">
        <h4>Address Covered By This Plan</h4>
        <span class="address">{{ data.risk_address_line_1 }}</span>
    </div> --}}
    <div class="info-wrap" data-type="personal-info">
        <h4>Details <a href="#" class="change-details" title="change details">change</a></h4>
        <ul>
            <li>
                <span class="label">First Name: </span>
                <span class="value">{{ data.first_name }}</span>
            </li>
            <li>
                <span class="label">Last Name: </span>
                <span class="value">{{ data.last_name }}</span>
            </li>
            <li>
                <span class="label">Telephone: </span>
                <span class="value">{{ data.phone1 }}</span>
            </li>
            <li>
                <span class="label">Insured Address:</span>
                <span class="value">{{ data.risk_address_line_1 }}</span>
            </li>
            <li>
                <span class="label">Billing Address:</span>
                <span class="value">{{ data.billing_address_street }}</span>
            </li>
        </ul>
    </div>
    <div class="info-wrap" data-type="payment-details">
        <h4>Payment Info</h4>
        <p>Below is the schedule your payment will follow:</p>
        <div class="breakdown">
            <h5>Breakdown:</h5>
            <ul>
                <li class="first-month">
                    <span class="label">First month payment:</span>
                    <span class="price"></span>
                </li>
                <li class="monthly">
                    <span class="label">11 monthly payments of:</span>
                    <span class="price"></span>
                </li>
                <li class="annual">
                    <span class="label">Annual:</span>
                    <span class="price"></span>
                </li>
            </ul>
            <p>* All prices displayed are inclusive of insurance premium tax(IPT).</p>
        </div>
    </div>
    <div class="footnote">
        <div class="img-wrap">
            <img src="/assets/images/new-world/icons/info-sign.svg" alt="info" />
        </div>
    </div>
    <div class="info-wrap" data-type="pdfs">
        <h4>Important Docs</h4>
        <ul>
            <li>
                <a class="pdf-link" href="{{ data.product.IPIDDocument }}" target="_blank" rel="noopener" title="Open PDF in new tab">{{ data.product.ProductName }} PDF</a>
            </li>
            <li>
                <a class="pdf-link" href="{{ data.product.TsAndCsDocument }}" target="_blank" rel="noopener" title="Open PDF in new tab">General terms and conditions PDF</a>
            </li>
            <li>
                <a class="pdf-link" href="{{ data.aboutOurInsurance }}" target="_blank" rel="noopener" title="Open PDF in new tab">About our insurance services PDF</a>
            </li>
        </ul>
    </div>
    <div class="info-wrap" data-type="tncs">
        <div class="checkbox-wrap">
            <a href="#" class="input checkbox terms"></a>
            <p>I have read and accept that <a class="pdf-link" target="_blank" rel="noopener" href="{{ data.product.IPIDDocument }}" title="Open {{ data.product.ProductName }} PDF">{{ data.product.ProductName }}</a> is the right cover for me.</p>
        </div>
        <div class="checkbox-wrap">
            <a href="#" class="input checkbox privacy"></a>
            <p>I have read and accept the <a class="pdf-link" target="_blank" rel="noopener" href="http://eversm.art/HEprivacypolicy" title="Open Privacy Policy"> privacy policy. </a></p>
        </div>
    </div>
    <a class="submit" href="#" title="Continue">Buy Now</a>
</div>