<div class="pdf-wrap">
    <div class="inner">
        <h6>Some important documents to read</h6>
        <ul>
            {{#each this}}
                <li>
                    <a href="{{ link }}" rel="noopener" target="_blank" title="{{ title }}">{{ name }}</a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
