<div class="inner" data-type="{{ type }}">
    <input type="{{ input.type }}" name="{{ input.name }}" id="{{ input.id }}" class="{{ input.className }}" placeholder="{{ input.placeholder }}" />
    <a href="#" class="submit" title="Continue">Get Quote</a>
</div>