{{#each this}}
    <div class="select-inner" data-type="{{ this.type }}">
        <div class="selected-wrap empty">
            <h3>Selected {{ this.title }}'s</h3>
            <ul class="selected-list">
                {{!-- DYNAMICLY ADDED --}}
            </ul>
        </div>
        <div class="select-wrap">
            <h3>Select your {{ this.title }}'s</h3>
            <ul class="select-list">
                {{!-- DYNAMICLY ADDED --}}
            </ul>
        </div>
    </div>
{{/each}}
