<div class="inner" data-type="{{ type }}">
    <h3>Enter your details</h3>
    <form id="customer_details">
        <select class="required" name="title" data-wtc="title">
            <option value="Title" selected disabled>Title</option>
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Ms">Ms</option>
            <option value="Miss">Miss</option>
            <option value="Sir">Sir</option>
            <option value="Dr">Dr</option>
            <option value="Prof">Professor</option>
        </select>
        <input type="text" name="forename" class="required" placeholder="First Name" data-wtc="forename" />
        <input type="text" name="surname" class="required" placeholder="Last name" data-wtc="surname" />
        <input type="text" name="email" class="required" placeholder="Email" data-wtc="email" />
        <input type="password" name="password" class="required" placeholder="Password" data-wtc="password" />
        <div class="password-strength">
            <div class="bar-wrap">
                <div class="bar"></div>
            </div>
            <span class="caption">
                <span class="label">Password Strength:</span>
                <span class="value"></span>
            </span>
        </div>
        <input type="password" name="password-confirm" class="required" placeholder="Confirm Password" data-wtc="password-confirm" />
        <input type="tel" name="phone" class="required" placeholder="Phone Number" data-wtc="phone" />
        <input type="date" name="dob" max="2001-01-01" class="required" placeholder="Date of Birth" data-wtc="dob" maxlength="" />
        <p class="field-autofill" data-field-name="address-first-line"></p>
        <p class="field-autofill" data-field-name="city"></p>
        <p class="field-autofill" data-field-name="county"></p>
        <p class="field-autofill" data-field-name="postcode"></p>
        <div class="checkbox-wrap">
            <a href="#" class="input checkbox"></a>
            <p>Are you eligible for priority register service?</p>
            <input type="hidden" class="prs_flag" name="prs_flag" value="" />
        </div>
        <div class="extra-fields-wrap"></div>
    </form>

</div>
