<style>
    .privacy-policy {border-bottom:2px solid #000; }
</style>

<div class="inner" data-type="{{ type }}">
    <!--
    <div class="form-wrap" data-form-type="login">
		<h3>Existing Eversmart Energy customer?</h3>
		<span class="caption">login to pre-populate details we have for your account to speed up the signup process</span>
		<form>
			<input type="email" name="email" class="required" placeholder="Email" />
			<input type="password" name="password" class="required" placeholder="Password" />
			<a href="#" class="login" title="login">Login</a>
		</form>
	</div>
	-->
	<div class="form-wrap" data-form-type="signup">
		<h3>Please enter your details</h3>
		<form>
			<select class="required" name="title" data-wtc="title">N
				<option value="Title" selected disabled>Title</option>
				<option value="Mr">Mr</option>
				<option value="Mrs">Mrs</option>
				<option value="Ms">Ms</option>
				<option value="Miss">Miss</option>
				<option value="Sir">Sir</option>
				<option value="Dr">Dr</option>
				<option value="Prof">Professor</option>
			</select>
			<input type="text" name="forename" class="required" placeholder="First Name" data-wtc="first_name" />
			<input type="text" name="middlenames" placeholder="Middle Names" data-wtc="middle_name" />
			<input type="text" name="surname" class="required" placeholder="Last Name" data-wtc="last_name" />
			<input type="email" name="email" class="required" placeholder="Email" data-wtc="email" />
			<p class="address"></p>
			<a href="#" class="change-address" title="change address">Change Address</a>
            <input type="tel" name="phone" placeholder="Mobile Phone" data-wtc="phone1" />
			<input type="tel" name="telephone" class="required" placeholder="Home Phone" data-wtc="phone2" />
			<h4> Date of birth: </h4>
			<input type="date" max="2001-01-01" name="dob" class="required" placeholder="Date of Birth" data-wtc="dob" />
			<h4>Billing:</h4>
			<div class="billing">
				<a href="#" class="input checkbox"></a>
				<span>Billing address is different from my insured address.</span>
				<div class="billing-body">
					{{!-- DYNAMICALYY ADDEDD <-- FUCK OFF WITH YOUR BULLSHITTERY FUCKHEAD --}}
				</div>
			</div>
			<h4>Property Info:</h4>
			<select class="required" name="00N1n00000ScSLl" id="00N1n00000ScSLl" data-wtc="ownership">
				<option value="ownership" selected disabled>Ownership</option>
				<option value="Home Owner">Home Owner</option>
				<option value="Private Tenant">Private Tenant</option>
				<option value="Council Property">Council Property</option>
				<option value="Housing Association">Housing Association</option>
			</select>
			<select class="required" name="propertyType" data-wtc="property_type">
				<option value="Property Type" selected disabled>Property Type</option>
				<option value="House">House</option>
				<option value="Flat">Flat</option>
				<option value="Bungalow">Bungalow</option>
				<option value="Park Home">Park Home</option>
				<option value="Maisonette">Maisonette</option>
			</select>
			<select class="required" name="detachment" data-wtc="detachment">
				<option value="Detachment" selected disabled>Detachment</option>
				<option value="Detached">Detached</option>
				<option value="Semi-Detached">Semi-Detached</option>
				<option value="End-Terrace">End-Terrace</option>
				<option value="Mid-Terrace">Mid-Terrace</option>
			</select>
			<select class="required" name="numberBedrooms" data-wtc="number_bedrooms">
				<option value="Number Bedrooms" selected disabled>Number Bedrooms</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6+">6+</option>
			</select>
			<select class="required" name="fuel" data-wtc="fuel">
				<option value="Fuel" selected disabled>Fuel</option>
				<option value="Gas">Gas</option>
				<option value="Oil">Oil</option>
				<option value="LPG">LPG</option>
				<option value="Solid Fossil Fuel">Solid Fossil Fuel</option>
				<option value="Electric">Electric</option>
				<option value="Wood">Wood</option>
				<option value="Bottled_LPG">Bottled_LPG</option>
				<option value="LPG Special Condition 18">LPG Special Condition 18</option>
			</select>
			<select class="required" name="heating_system" data-wtc="heating_system">
				<option value="Heating System" selected disabled>Heating System</option>
				<option value="Boiler">Boiler</option>
				<option value="Air Source Heat Pump">Air Source Heat Pump</option>
				<option value="District Heating System">District Heating System</option>
				<option value="Electric Storage Heater">Electric Storage Heater</option>
				<option value="Back Boiler to Radiators">Back Boiler to Radiators</option>
				<option value="Fire with Back Boiler">Fire with Back Boiler</option>
				<option value="LPG Boiler">LPG Boiler</option>
				<option value="Roomer Heater">Roomer Heater</option>
				<option value="Underfloor Heating">Underfloor Heating</option>
				<option value="Warm Air">Warm Air</option>
				<option value="Range Cooker Boiler">Range Cooker Boiler</option>
				<option value="Electric Ceiling Heaters">Electric Ceiling Heaters</option>
			</select>
			<select class="required hidden" name="boiler_type" data-wtc="boiler_type">
				<option value="Boiler Type" selected disabled>Boiler Type</option>
				<option value="Standard">Standard</option>
				<option value="Combi">Combi</option>
				<option value="System">System</option>
				<option value="Back Boiler">Back Boiler</option>
			</select>
			<select class="required hidden" name="boiler_age" data-wtc="boiler_age">
				<option value="Boiler Age" selected disabled>Boiler Age</option>
				<option value="1 Years">1 Years</option>
				<option value="2 Years">2 Years</option>
				<option value="3 Years">3 Years</option>
				<option value="4 Years">4 Years</option>
				<option value="5 Years">5 Years</option>
				<option value="6 Years">6 Years</option>
				<option value="7 Years">7 Years</option>
				<option value="8 Years">8 Years</option>
				<option value="9 Years">9 Years</option>
				<option value="10+ Years">10+ Years</option>
			</select>
			<select class="required hidden" name="boiler_manufacturer" data-wtc="boiler_manufacturer">
				<option value="Boiler Manufacturer" selected disabled>Boiler Manufacturer</option>
				<option value="Adey">Adey</option>
				<option value="Aga Rayburn">Aga Rayburn</option>
				<option value="Albion">Albion</option>
				<option value="Alpha">Alpha</option>
				<option value="Altecnic">Altecnic</option>
				<option value="Ambirad Ltd">Ambirad Ltd</option>
				<option value="Andrews Water Heaters">Andrews Water Heaters</option>
				<option value="Anton Industrial Services Ltd">Anton Industrial Services Ltd</option>
				<option value="Aqualisa Showers">Aqualisa Showers</option>
				<option value="Ariston Thermo">Ariston Thermo</option>
				<option value="Atag Heating UK Ltd">Atag Heating UK Ltd</option>
				<option value="Atmos">Atmos</option>
				<option value="Baxi Heating">Baxi Heating</option>
				<option value="Baxi UK">Baxi UK</option>
				<option value="BFM Europe">BFM Europe</option>
				<option value="Biasi UK Ltd">Biasi UK Ltd</option>
				<option value="Buderus UK">Buderus UK</option>
				<option value="Burley (Magiglo)">Burley (Magiglo)</option>
				<option value="Cannon">Cannon</option>
				<option value="Centroller">Centroller</option>
				<option value="Chaffoteaux">Chaffoteaux</option>
				<option value="Daikin Airconditioning UK Ltd">Daikin Airconditioning UK Ltd</option>
				<option value="Danfoss Group">Danfoss Group</option>
				<option value="Dimplex">Dimplex</option>
				<option value="Drayton Controls">Drayton Controls</option>
				<option value="Dru">Dru</option>
				<option value="Eco Hometec">Eco Hometec</option>
				<option value="Elson Hot Water">Elson Hot Water</option>
				<option value="Fernox">Fernox</option>
				<option value="Ferroli Ltd">Ferroli Ltd</option>
				<option value="Flavel Fires">Flavel Fires</option>
				<option value="Focal Point">Focal Point</option>
				<option value="Gledhill Water Storage Ltd">Gledhill Water Storage Ltd</option>
				<option value="Glen Dimplex">Glen Dimplex</option>
				<option value="Glow Worm">Glow Worm</option>
				<option value="Grant Engineering Ltd UK">Grant Engineering Ltd UK</option>
				<option value="Grundfos Pumps Ltd">Grundfos Pumps Ltd</option>
				<option value="Halstead">Halstead</option>
				<option value="Heat Line">Heat Line</option>
				<option value="Henrad UK Ltd">Henrad UK Ltd</option>
				<option value="Horstmann">Horstmann</option>
				<option value="Ideal Heating">Ideal Heating</option>
				<option value="Intergas UK">Intergas UK</option>
				<option value="Johnson &amp; Starley Ltd">Johnson &amp; Starley Ltd</option>
				<option value="Kamco Ltd">Kamco Ltd</option>
				<option value="Keston Heating">Keston Heating</option>
				<option value="Kinder">Kinder</option>
				<option value="Leisure">Leisure</option>
				<option value="Magiglo (Burley)">Magiglo (Burley)</option>
				<option value="Malvern Boilers Ltd">Malvern Boilers Ltd</option>
				<option value="MHS Boilers Ltd">MHS Boilers Ltd</option>
				<option value="Mira Showers">Mira Showers</option>
				<option value="New Team Showers">New Team Showers</option>
				<option value="OJ Electronics UK">OJ Electronics UK</option>
				<option value="Paragon Energy Ltd">Paragon Energy Ltd</option>
				<option value="Pegler Yorkshire Group Ltd">Pegler Yorkshire Group Ltd</option>
				<option value="Portway">Portway</option>
				<option value="Potterton">Potterton</option>
				<option value="Powrmatic Ltd">Powrmatic Ltd</option>
				<option value="Quinn Radiators UK">Quinn Radiators UK</option>
				<option value="Ravenheat Manufacturing Ltd">Ravenheat Manufacturing Ltd</option>
				<option value="Remeha B.V.">Remeha B.V.</option>
				<option value="Reznor UK Ltd">Reznor UK Ltd</option>
				<option value="Riello Ltd">Riello Ltd</option>
				<option value="Robinson Willey">Robinson Willey</option>
				<option value="Rothenberger">Rothenberger</option>
				<option value="Royal Cozyfires">Royal Cozyfires</option>
				<option value="Salus Controls Plc Ltd">Salus Controls Plc Ltd</option>
				<option value="Sangamo Ltd">Sangamo Ltd</option>
				<option value="Saunier Duval">Saunier Duval</option>
				<option value="Schiedel">Schiedel</option>
				<option value="Sentinal Performance Solutions Ltd">Sentinal Performance Solutions Ltd</option>
				<option value="Stelrad Ltd">Stelrad Ltd</option>
				<option value="Stokvis Energy Systems">Stokvis Energy Systems</option>
				<option value="Stovax Gazco">Stovax Gazco</option>
				<option value="Sunvic Controls limited">Sunvic Controls limited</option>
				<option value="Trianco (TR Engineering)">Trianco (TR Engineering)</option>
				<option value="Vaillant Ltd">Vaillant Ltd</option>
				<option value="Valor (Baxi UK)">Valor (Baxi UK)</option>
				<option value="Verine">Verine</option>
				<option value="Viessman Ltd">Viessman Ltd</option>
				<option value="Vokera Ltd">Vokera Ltd</option>
				<option value="White Knight (Crosslee Plc)">White Knight (Crosslee Plc)</option>
				<option value="Wickes (Halstead Boilers)">Wickes (Halstead Boilers)</option>
				<option value="Wolf Heating UK Ltd">Wolf Heating UK Ltd</option>
				<option value="Wonderfire (Valor)">Wonderfire (Valor)</option>
				<option value="Worcester">Worcester</option>
				<option value="Yeoman">Yeoman</option>
			</select>
			<h4>Staying in touch:</h4>
			<p>Now and then we'd like to get in touch an share with you our new exciting offers, How would you like us to do so?</p>
            <div class="opt-in-wrap" data-type="email_opt_in">
                <a href="#" class="input checkbox email_opt_in">
                    <input type="hidden" name="email_opt_in" value="" />
                </a>
                <p>By email?</p>
            </div>
            <div class="opt-in-wrap" data-type="text_opt_in">
                <a href="#" class="input checkbox text_opt_in">
                    <input type="hidden" name="text_opt_in" value="" />
                </a>
                <p>By text?</p>
            </div>
            <div class="opt-in-wrap" data-type="phone_opt_in">
                <a href="#" class="input checkbox phone_opt_in">
                    <input type="hidden" name="phone_opt_in" value="" />
                </a>
                <p>By phone?</p>
            </div>
            <div class="opt-in-wrap" data-type="post_opt_in">
                <a href="#" class="input checkbox post_opt_in">
                    <input type="hidden" name="post_opt_in" value="" />
                </a>
                <p>By post?</p>
            </div>
            <input class="campaign_ref" data-type="campaign_ref" type="hidden" name="campaign_ref" />
			<a href="#" class="submit" title="Continue">Continue</a>
		</form>
	</div>
</div>
