<div class='card card-raised2 card-form-horizontal wow fadeInUp summary-card{{#isActive}}{{ type }}{{/isActive}}' data-type='{{ type }}' data-index="{{ title }}" data-wow-delay='0ms'>
    <div class='content'>
        <div class='card-tariff text-center'>
            {{#if showBadge}}
            <div class="promotion-badge">
                <div>
                    <div class='spanWrap'>
                       {{ badge_content }}
                    </div>
                </div>
            </div>
            {{/if}}
            <div class='container'>
                <div class='switch-me text-center'>
                    <h1 class='summary-plan-title'>{{ title }}</h1>
                    <div class='price_switch'>
                        <span class='price_switch_value'>£{{ price }}</span>
                        <span class='payment_type_value'>{{#normaliseType}}{{ type }}{{/normaliseType}}</span>
                    </div>
                    <ul class='highlights'>
                        {{#each highlights}}
                        <li>
                            <div class='img-wrap'>
                                <img src='{{ this.img }}' alt=''/>
                            </div>
                            <span>{{ this.label }}</span>
                        </li>
                        {{/each}}
                    </ul>
                    <form class='quote_summary_form' method='post' action='./user/signup'>

                        <input type="hidden" name="tariffName" value="{{ title }}" />
                        <input type="hidden" name="newSpend" value="{{ price }}" />
                        <input type="hidden" name="unitRate1Elec" value="{{ elec_ur }}" />
                        <input type="hidden" name="standingChargeElec" value="{{ elec_sc }}" />
                        <input type="hidden" name="unitRate1Gas" value="{{ gas_ur }}">
                        <input type="hidden" name="standingChargeGas" value="{{ gas_sc }}" />
                        <input type="hidden" name="elec_product_code" value="{{ elec_product_code }}">
                        <input type="hidden" name="gas_product_code" value="{{ gas_product_code }}" />

                        <button class='green-btn-summer btn btn-primary btn-round btn-info to_signup_form top' type='submit'>Switch Now</button>
                        <a href='#' class='expand-section' title='expand'>
                            <span>More Info</span>
                        </a>
                        <div class='summary-wrap'>
                            <p class='summary-statement'>
                                The quote above is a good estimate based on the information you have given us.
                                Estimated Annual Consumption: <span class='summary-statement-eac'>{{ eac }} kWh</span>.
                                {{#if aq }}
                                    Annual Quantity: <span class='summary-statement-aq'>{{ aq }} kWh</span>
                                {{/if}}
                            </p>
                            <div class='tabs'>
                                <ul class='nav'>
                                    <li><a href='#' data-body-id="{{ tariff.tabID }}" class='tab'>Tariff</a></li>
                                    <li><a href='#' data-body-id="{{ benefits.tabID }}" class='tab active' >Benefits</a></li>
                                    <li><a href='#' data-body-id="{{ important.tabID }}" class='tab'>Important</a></li>
                                </ul>
                                <div class='tab-pane' id='{{ tariff.tabID }}'>
                                    <div class='card'>
                                        <div class='summary-tab-content tariff'></div>
                                    </div>
                                </div>
                                <div class='tab-pane active' id='{{ benefits.tabID }}'>
                                    <div class='card'>
                                        <div class='summary-tab-content benefits'></div>
                                    </div>
                                </div>
                                <div class='tab-pane' id='{{ important.tabID }}'>
                                    <div class='card'>
                                        <div class='summary-tab-content important'></div>
                                    </div>
                                </div>
                            </div>
                            <button class='green-btn-summer btn btn-primary btn-round btn-info to_signup_form bottom' type='submit'>Switch Now</button>
                        </div>
                    </form>       
                </div>
            </div>
        </div>
    </div>
</div>
