<div class="PriceBlock-container" data-type='{{ type }}' data-boiler="{{ boiler_cover }}" data-cheapest="{{ cheapest_tariff }}" data-best="{{ best_value }}" data-index="{{ title }}">
    <div class="PriceBlock">
        <div class="corner-ribbon bottom-right shadow cheapest">Cheapest</div>
        <div class="corner-ribbon bottom-right shadow best">Best Value</div>
        <div class="corner-ribbon bottom-left shadow boiler-cover">Boiler Cover</div>
        <div class="saving">
            <span>{{ saving }}</span>
        </div>

        <h1 class='summary-plan-title'>{{ title }}</h1>
        <div class='price_switch'>
            <span class='price_switch_value'>£{{ monthlyPrice }}</span>
            <span class='payment_type_value'>Per Month</span>
        </div>
        <ul class=''>
            {{#each highlights}}
            <li>
                <span>
                    {{ this.label }}
                    {{#if this.link}}
                        <a href="{{this.link.href}}" class="contentLink" target=_top>{{this.link.text}}</a>
                    {{/if}}
                </span>
            </li>
            {{/each}}
        </ul>

        <form class='quote_summary_form' method='post' action='<?= base_url(); ?>index.php/user/signup'>
            <input type="hidden" name="tariffName" value="{{ title }}" />
            <input type="hidden" name="newSpend" value="{{ price }}" />
            <input type="hidden" name="unitRate1Elec" value="{{ elec_ur }}" />
            <input type="hidden" name="standingChargeElec" value="{{ elec_sc }}" />
            <input type="hidden" name="unitRate1Gas" value="{{ gas_ur }}">
            <input type="hidden" name="standingChargeGas" value="{{ gas_sc }}" />
            <input type="hidden" name="elec_product_code" value="{{ elec_product_code }}">
            <input type="hidden" name="gas_product_code" value="{{ gas_product_code }}" />
            <input type="hidden" name="boiler_cover_available" value="{{ boiler_cover }}" />
            <button class='green-btn-summer btn btn-primary btn-round btn-info to_signup_form top' type='submit'>Switch
                Now</button>
        </form>
        <div class="optionMoreInfo">
            <span>More Info</span>
        </div>

        <div class="infoModalContent">
            <div class='summary-wrap'>
                <div class='summary-head'>
                    <h1 class='summary-plan-title'>{{ title }}</h1>
                    <div class='price_switch'>
                        <span class='price_switch_value'>£{{ monthlyPrice }}</span>
                        <span class='payment_type_value'>Per Month</span>
                    </div>
                    <p class='summary-statement'>
                        The quote above is a good estimate based on the information you have given us.
                        Estimated Annual Consumption: <span class='summary-statement-eac'>{{ eac }} kWh</span>.
                        {{#if aq }}
                        Annual Quantity: <span class='summary-statement-aq'>{{ aq }} kWh</span>
                        {{/if}}
                    </p>
                </div>
                <div class='tabs'>
                    <ul class='nav'>
                        <li><a href='#' data-body-id="{{ tariff.tabID }}" class='tab'>Tariff</a></li>
                        <li><a href='#' data-body-id="{{ benefits.tabID }}" class='tab active'>Benefits</a></li>
                        <li><a href='#' data-body-id="{{ important.tabID }}" class='tab'>Important</a></li>
                    </ul>
                    <div class='tab-pane' id='{{ tariff.tabID }}'>
                        <div class='card'>
                            <div class='summary-tab-content tariff'></div>
                        </div>
                    </div>
                    <div class='tab-pane active' id='{{ benefits.tabID }}'>
                        <div class='card'>
                            <div class='summary-tab-content benefits'></div>
                        </div>
                    </div>
                    <div class='tab-pane' id='{{ important.tabID }}'>
                        <div class='card'>
                            <div class='summary-tab-content important'></div>
                        </div>
                    </div>
                </div>
                <div class="summary-foot">
                    <button class='green-btn-summer btn btn-primary btn-round btn-info top clickSwitchNow'
                        type='submit'>Switch
                        Now</button>
                </div>
                {{!-- <button class='green-btn-summer btn btn-primary btn-round btn-info to_signup_form bottom'
                    type='submit'>Switch Now</button> --}}
            </div>
        </div>
    </div>
</div>
