<div class="inner" data-type="{{ type }}">
    <div class='buttonOptions'>
        {{#if elecOnly}}
        <div class="buttonOpt" id="{{ fuelTypes.[0].id }}" data-type="{{ fuelTypes.[0].type }}">
            <div class="img-wrap">
                <img src="{{ fuelTypes.[0].img }}" alt="{{ fuelTypes.[0].imgAlt }}" />
            </div>
            <input type="number" maxlength="7" name="fuel-{{ fuelTypes.[0].type }}-input" class="fuel-input"
                placeholder="Usage" />
        </div>
        {{else}}
        {{#each fuelTypes}}
        <div class="buttonOpt" id="{{ id }}" data-type="{{ type }}">
            <div class="img-wrap">
                <img src="{{ img }}" alt="{{ imgAlt }}" />
            </div>
            <input type="number" maxlength="7" name="fuel-{{ type }}-input" class="fuel-input" placeholder="Usage" />
        </div>
        {{/each}}
        {{/if}}
    </div>
    {{!-- <ul>
        {{#if elecOnly}}
        <li>
            <div class="step-option" id="{{ fuelTypes.[0].id }}" data-type="{{ fuelTypes.[0].type }}">
                <div class="img-wrap">
                    <img src="{{ fuelTypes.[0].img }}" alt="{{ fuelTypes.[0].imgAlt }}" />
                </div>
                <input type="number" maxlength="7" name="fuel-{{ fuelTypes.[0].type }}-input" class="fuel-input"
                    placeholder="Usage" />
            </div>
        </li>
        {{else}}
        {{#each fuelTypes}}
        <li>
            <div class="step-option" id="{{ id }}" data-type="{{ type }}">
                <div class="img-wrap">
                    <img src="{{ img }}" alt="{{ imgAlt }}" />
                </div>
                <input type="number" maxlength="7" name="fuel-{{ type }}-input" class="fuel-input"
                    placeholder="Usage" />
            </div>
        </li>
        {{/each}}
        {{/if}}
    </ul> --}}
</div>