<script>
    fbq('track', 'CompleteRegistration');
</script>
<div class="inner" data-type="{{ type }}">
    <div class="img-wrap">
        <img style="width: 50px; background-color: green; border-radius: 5px;" src="{{ card.image }}" alt="{{ card.imgAlt }}" />
    </div>
    <h3>{{ card.title }}</h3>
    <p> If you have any questions, feel free to contact us on <a style="color: black; font-weight: bold;" href="tel:0161 332 0019">0161 332 0019</a></p>
    <p> Refer a friend by sending them the link below and receive £40 cash!</p>
    <input type="text" id="referral-link" />
</div>