<h4>Yearly Payment</h4>
<span class="yearly-price">£{{ amount }}</span>
<form action="/charge" method="post" id="payment-form">
    <div class="form-row">
        <label for="card-element">Credit or debit card</label>
        <div id="card-element"></div>
        <div id="card-errors"></div>
    </div>
    <button>Continue</button>
</form>
<span>Security is one of the biggest considerations in everything we do. Stripe has been audited by a PCI-certified auditor and is certified to PCI Service Provider Level 1. This is the most stringent level of certification available in the payments industry.</span>
