<li>
    <a class="topic-link" href="#" id="{{ id }}">
        <div class="img-wrap">
            <img src="{{ image }}" alt="{{ title }}">
        </div>
        <span class="hover-txt">{{ title }}</span>
    </a>
</li>