#signup-page {
    display: block;
    position: relative;
    padding-bottom: 130px;
    background-color: #f6fafc;
    margin-bottom: 200px;
    margin-top: -21px;
}
#signup-page:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    background: radial-gradient(118vw 454px at 50% -39%, #f6fafc 50%, transparent 50.1%);
    width: 101vw;
    height: 200px;
    z-index: 1;
}
#signup-page #signup-body {
    display: block;
    position: relative;
    padding-bottom: 200px;
    background-color: #ec4759;
    padding-top: 65px;
}
#signup-page #signup-body:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    background: radial-gradient(118vw 454px at 50% -39%, #ec4759 50%, transparent 50.1%);
    width: 101vw;
    height: 200px;
    z-index: 3;
}
#signup-page #signup-body .form-wrap {
    display: block;
    width: 80%;
    background-color: #fff;
    margin-left: 10%;
    border-radius: 30px;
    padding-top: 10px;
    position: relative;
    padding: 10px 40px 50px 40px;
}
#signup-page #signup-body .form-wrap h1 {
    text-align: center;
    display: block;
    margin: 25px 0 20px 0;
}
#signup-page #signup-body .form-wrap form {
    
}
#signup-page #signup-body .form-wrap form select {
    
}
#signup-page #signup-body .form-wrap form select:hover,
#signup-page #signup-body .form-wrap form select:focus {
    outline: none;
    border-color: #000000 !important;
}
#signup-page #signup-body .form-wrap form input {
    display: block;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #dedede;
    padding: 8px 10px;
    margin-bottom: 8px;
    font-weight: 500;
    transition: border-color 0.25s ease-in-out;
}
#signup-page #signup-body .form-wrap form input:hover,
#signup-page #signup-body .form-wrap form input:focus {
    outline: none;
    border-color: #000000;
}
#signup-page #signup-body .form-wrap form input.invalid,
#signup-page #signup-body .form-wrap form input.invalid:hover,
#signup-page #signup-body .form-wrap form input.invalid:focus {
    border-color: #ec4759;
}
#signup-page #signup-body .form-wrap form .checkbox-wrap {
    
}
#signup-page #signup-body .form-wrap form .checkbox-wrap a {
    display: inline-block;
    vertical-align: top;
    border-color: #ee4555;
    transition: opacity 0.25s ease-in-out;
}
#signup-page #signup-body .form-wrap form .checkbox-wrap a:hover {
    opacity: .85;
}
#signup-page #signup-body .form-wrap form .checkbox-wrap p {display: inline-block;vertical-align: top;color: #000;width: calc(100% - 40px);padding-left: 5px;font-size: 12px;font-weight: 500;padding-top: 8px;margin: 0;}
#signup-page #signup-body .form-wrap form select[name="title"] {
    display: inline-block;
    width: 30%;
    height: 36px;
    background-color: #fff;
    border: 1px solid #dedede;
    font-weight: 500;
    transition: border-color 0.25s ease-in-out;
    vertical-align: top;
}
#signup-page #signup-body .form-wrap form input[name="forename"] {
    display: inline-block;width: calc(70% - 8px);
    margin-left: 3px;
    vertical-align: top;
}
#signup-page #signup-body .form-wrap form .password-strength {
    margin-bottom: 8px;
    display: block;
}
#signup-page #signup-body .form-wrap form .password-strength .bar-wrap {
    display: block;
    position: relative;
    height: 6px;
    background-color: #f6fafc;
    border-radius: 3px;
    overflow: hidden;
}
#signup-page #signup-body .form-wrap form .password-strength .bar-wrap .bar {
    position: absolute;
    height: 6px;
    width: 0;
    background-color: #27AE60;
}
#signup-page #signup-body .form-wrap form .password-strength .caption {
    display: block;
    margin-top: 2px;
}
#signup-page #signup-body .form-wrap form .password-strength .caption .label {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    margin-left: 11px;
}
#signup-page #signup-body .form-wrap form .password-strength .caption .value {font-size: 12px;font-weight: 500;margin-left: 11px;display: inline-block;}
#signup-page #signup-body .form-wrap form a.submit {
    display: block;
    background-color: #ee4555;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 27px auto 0 auto;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    height: 42px;
    transition: opacity 0.25s ease-in-out;
    width: 120px;
    text-align: center;
}
#signup-page #signup-body .form-wrap form a.submit:hover {opacity: .85;}
#signup-page #signup-body .form-wrap form input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #000;
}
#signup-page #signup-body .form-wrap form input::-moz-placeholder {
    /* Firefox 19+ */
    color: #000;
}
#signup-page #signup-body .form-wrap form input:-ms-input-placeholder {
    /* IE 10+ */
    color: #000;
}
#signup-page #signup-body .form-wrap form input:-moz-placeholder {
    /* Firefox 18- */
    color: #000;
}
