.hero-img {
    background: url("/assets/images/new-world/about/vision-one.png") center top !important;
}
/* #our-vision-page-wrap {
    display: block;
    position: relative;
    min-height: 500px;
    background-color: #f6fafc;
    margin-bottom: 200px;
}
#our-vision-page-wrap:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    background: radial-gradient(118vw 454px at 50% -39%, #f6fafc 50%, transparent 50.1%);
    width: 101vw;
    height: 200px;
    z-index: 1;
}
#our-vision-page-wrap header {
    display: block;
    position: relative;
    width: 100vw;
    background-color: #ea495c;
    background-repeat: no-repeat;
    vertical-align: top;
    margin-top: 0;
    z-index: 1;
}
#our-vision-page-wrap header:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    background: radial-gradient(118vw 454px at 50% -39%, #ea495c 50%, transparent 50.1%);
    width: 101vw;
    height: 200px;
    z-index: 10;
}
#our-vision-page-wrap header h1 {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
    bottom: -128px;
    z-index: 11;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

#our-vision-page-wrap section {
    display: block;
    width: 90%;
    margin-left: 5%;
}
#our-vision-page-wrap section h2 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 15px;
}
#our-vision-page-wrap section p {
    font-weight: 500;
}
#our-vision-page-wrap section#our-vision-intro {
    padding-top: 208px;
}
#our-vision-page-wrap section#our-vision-intro .img-wrap {
    position: relative;
}
#our-vision-page-wrap section#our-vision-intro .img-wrap:after {
    display: block;
    content: "";
    background-color: #f0eef2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -30px;
    left: 30px;
    z-index: 1;
    border-radius: 20px 50%;
}
#our-vision-page-wrap section#our-vision-intro .img-wrap img {
    max-width: 100%;
    border-radius: 20px 50%;
    position: relative;
    z-index: 2;
}
#our-vision-page-wrap section#our-vision-intro .info-wrap {
    
}
#our-vision-page-wrap section#our-vision-intro .info-wrap h2 {
    
}
#our-vision-page-wrap section#our-vision-intro .info-wrap p {
    
}
#our-vision-page-wrap section#our-vision-intro .info-wrap p:not(:first-child) {
    
}
#our-vision-page-wrap section#our-vision-approach {
    margin-top: 80px;
}
#our-vision-page-wrap section#our-vision-approach .img-wrap {position: relative;}
#our-vision-page-wrap section#our-vision-approach .img-wrap:after {
    display: block;
    content: "";
    border-radius: 20px 20px 20px 50%;
    background-color: #e2ede9;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -30px;
    left: -30px;
    z-index: 1;
}
#our-vision-page-wrap section#our-vision-approach .img-wrap img {
    max-width: 100%;
    border-radius: 20px 20px 20px 50%;
    position: relative;
    z-index: 2;
}
#our-vision-page-wrap section#our-vision-approach .info-wrap {
    z-index: 2;
    position: relative;
}
#our-vision-page-wrap section#our-vision-approach .info-wrap h2 {
    
}
#our-vision-page-wrap section#our-vision-approach .info-wrap p {
    
}
#our-vision-page-wrap section#our-vision-approach .info-wrap p:not(:first-child) {
    
}
#our-vision-page-wrap section#our-vision-join {
    margin-top: 80px;
}
#our-vision-page-wrap section#our-vision-join .img-wrap {
    position: relative;
}
#our-vision-page-wrap section#our-vision-join .img-wrap:after {
    display: block;
    content: "";
    background-color: #f4f2f0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -30px;
    left: 30px;
    border-radius: 20px;
    z-index: 1;
}
#our-vision-page-wrap section#our-vision-join .img-wrap img {
    max-width: 100%;
    border-radius: 20px;
    z-index: 2;
    position: relative;
}
#our-vision-page-wrap section#our-vision-join .info-wrap {
    
}
#our-vision-page-wrap section#our-vision-join .info-wrap h2 {
    
}
#our-vision-page-wrap section#our-vision-join .info-wrap p {
    
}
#our-vision-page-wrap section#our-vision-join .info-wrap p:not(:first-child) {

}

@media only screen and (min-width: 800px) {
    #our-vision-page-wrap section#our-vision-intro .img-wrap {
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }
    #our-vision-page-wrap section#our-vision-intro .info-wrap {
        display: inline-block;
        width: 50%;
        margin-left: -5px;
        vertical-align: top;
        padding: 25px 0px 25px 30px;
    }
    #our-vision-page-wrap section#our-vision-approach .info-wrap {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        padding: 0px 0px 25px 30px;
    }
    #our-vision-page-wrap section#our-vision-approach .img-wrap {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        margin-left: -5px;
    }
    #our-vision-page-wrap section#our-vision-join .img-wrap {
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }
    #our-vision-page-wrap section#our-vision-join .info-wrap {
        display: inline-block;
        width: 50%;
        margin-left: -5px;
        vertical-align: top;
        padding: 25px 0px 25px 30px;
    }
}
@media only screen and (min-width: 1024px) {
    #our-vision-page-wrap section {
        display: block;
        width: 80%;
        margin-left: 10%;
    }
} */
