{{#if forDropDown}}
    {{#each this.dropDowns}}
        <li class="drop-down menu-item">
            <a href="#" class="menu-link drop-down-link" title="{{ name }}">{{ name }}</a>
            <ul class="drop-list">
                {{#each this.items}}
                    <li>
                        <a href="{{ href }}" class="menu-link" title="{{ title }}">{{ name }}</a>
                    </li>
                {{/each}}
            </ul>
        </li>
    {{/each}}
{{else}}
    {{#each this.menuData}}
        <li class="menu-item{{#markDropDown addToDropDown}}{{ mark }}{{/markDropDown}}">
            <a href="{{ href }}" class="menu-link" title="{{ title }}">{{ name }}</a>
        </li>
    {{/each}}
{{/if}}