
.asterixs {
    width: 80%;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

#landing-page-wrap {
    display: block;
    position: relative;
    min-height: 230px;
    background-color: #f6fafc;
    margin-bottom: 10px;
}

#landing-page-wrap > header {
    display: block;
    position: relative;
    width: 100vw;
    background-repeat: no-repeat;
    vertical-align: top;
    margin-top: 0;
    z-index: 1;
}

#landing-page-wrap > header span {
    color: #fff;
    font-weight: 500;
    z-index: 12;
    font-size: 17.8px;
    width: auto;
    position: relative;
    text-align: center;
    display: block;
    padding: 20px 20px;
}

#landing-page-wrap section[data-type="annual-service-bio"] {
    padding: 0;
    margin-bottom: 500px;
    margin-top: 200px;
}

#landing-page-wrap section[data-type="annual-service-bio"] .info-wrap {
    padding: 120px;
    width: 550px;
    display: block;
    background-color: #ea495c;
    border-radius: 0 5px 5px 0;
    color: #fff;
    text-align: left;
}

#landing-page-wrap section[data-type="annual-service-bio"] .info-wrap h2 {

}

#landing-page-wrap section[data-type="annual-service-bio"] .info-wrap h2 p {

}

#landing-page-wrap section[data-type="annual-service-bio"] .info-wrap:after {
    content: "";
    display: inline-block;
    position: absolute;
    background-image: url(/assets/images/new-world/home-services/stock-1.jpg);
    width: 500px;
    height: 500px;
    background-size: auto 100%;
    right: 0;
    bottom: -330px;
    border-radius: 5px 0 0 5px;
}

#landing-page-wrap section[data-type="compare-deals"] {

}

#landing-page-wrap section[data-type="compare-deals"] h2 {
    margin-bottom: -9px;
}

#landing-page-wrap section[data-type="compare-deals"] p {
    width: 80%;
    display: block;
    margin: 10px auto 0 auto;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

#landing-page-wrap section[data-type="compare-deals"] p a {
    text-transform: capitalize;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid #000;
    transition: opacity 0.25s ease-in-out;
}

#landing-page-wrap section[data-type="compare-deals"] p a:hover {
    opacity: .85;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li {
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 0 1px #00000008;
    vertical-align: top;
    margin-bottom: 10px;
    padding: 0;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li:not(:first-child) { /* margin-left: 20px; */
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header {
    padding: 30px 10px 15px 13px;
    display: block;
    background-color: #ec4759;
    border-radius: 5px 5px 0 0;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap {
    display: block;
    width: 180px;
    height: 180px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    margin: 0 auto;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap > div:not(.tooltip-wrap) {
    display: block;
    font-weight: 500;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap > div > .payment {
    display: block;
    position: relative;
    font-size: 40px;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap > div > .payment:before {
    display: block;
    content: "monthly";
    position: absolute;
    left: 50%;
    font-size: 12px;
    bottom: -13px;
    transform: translateX(-50%);
    text-transform: capitalize;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap.annual > div > .payment {
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap.annual > div > .payment:before {
    content: "Annually";
    display: block;
    position: absolute;
    left: 50%;
    font-size: 12px;
    bottom: -13px;
    transform: translateX(-50%);
    text-transform: capitalize;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap.annual .tooltip-wrap {
    display: none;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap.annual .tooltip-wrap a.tooltip-link {
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap.annual .tooltip-wrap a.tooltip-link:hover {
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap.annual .tooltip-wrap .tooltip-body-wrap {
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap.annual .tooltip-wrap .tooltip-body-wrap .tooltip-body {
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap.annual .tooltip-wrap .tooltip-body-wrap .tooltip-body .inner {
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap.annual .tooltip-wrap .tooltip-body-wrap .tooltip-body .inner .title {
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap.annual .tooltip-wrap .tooltip-body-wrap .tooltip-body .inner ul {
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap.annual .tooltip-wrap .tooltip-body-wrap .tooltip-body .inner ul li {
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap.annual .tooltip-wrap .tooltip-body-wrap .tooltip-body .inner ul li span {
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap.annual .tooltip-wrap .tooltip-body-wrap .tooltip-body .inner ul li span.label {
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap.annual .tooltip-wrap .tooltip-body-wrap .tooltip-body .inner ul li span.value {
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap .tooltip-wrap {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap .tooltip-wrap a.tooltip-link {
    background-color: #ec4759;
    border-radius: 5px;;
    width: 24px;
    height: 24px;
    padding-top: 1px;
    color: #fff;
    transition: opacity 0.25s ease-in-out;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap .tooltip-wrap a.tooltip-link:hover {
    opacity: .85;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap .tooltip-wrap .tooltip-body-wrap .tooltip-body .inner .title {
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #000;
    display: block;
    margin-bottom: 7px;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap .tooltip-wrap .tooltip-body-wrap .tooltip-body .inner ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap .tooltip-wrap .tooltip-body-wrap .tooltip-body .inner ul li span.label {
    display: inline-block;
    width: 160px;
    font-size: 12px;
    font-weight: 500;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.price-wrap .tooltip-wrap .tooltip-body-wrap .tooltip-body .inner ul li span.value {
    font-size: 12px;
    font-weight: 500;
    width: calc(100% - 165px);
    display: inline-block;
    text-align: right;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header h4 {
    color: #fff;
    font-size: 20px;
    display: block;
    width: 230px;
    margin: 10px 0 -10px 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    /* hyphens: auto; */
    text-align: center;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header > span {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    display: block;
    margin: 25px 0 -3px 0;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.excess-wrap {
    z-index: 0;
    position: relative;
    margin-bottom: -10px;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.excess-wrap h5 {
    color: #fff;
    display: block;
    margin-bottom: 11px;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.excess-wrap ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.excess-wrap ul li {
    display: inline-block;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.excess-wrap ul li:not(:first-child) {
    margin-left: 7px;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.excess-wrap ul li a {
    display: block;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    background-color: #dfe4e6;
    border-radius: 5px;
    width: 48px;
    height: 48px;
    position: relative;
    transition: background-color 0.25s ease-in-out;
    z-index: 0;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.excess-wrap ul li a:not(.chosen):hover {
    opacity: .85;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.excess-wrap ul li a.chosen {
    background-color: #fff;
    cursor: auto;
    border: 1px solid #484848;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.excess-wrap ul li a span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.payment-options-wrap {

}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.payment-options-wrap h5 {
    color: #fff;
    display: block;
    margin-bottom: 11px;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.payment-options-wrap ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.payment-options-wrap ul li {
    display: inline-block;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.payment-options-wrap ul li:not(:first-child) {
    margin-left: 5px;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.payment-options-wrap ul li span {
    color: #000;
    font-weight: 500;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.payment-options-wrap ul li a {
    display: block;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    background-color: #dfe4e6;
    padding: 8px 17px;
    border-radius: 5px;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.payment-options-wrap ul li a.chosen {
    background-color: #fff;
    cursor: auto;
    border: 1px solid #484848;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.payment-options-wrap ul li a:not(.chosen):hover {
    opacity: .85;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li header div.payment-options-wrap ul li a img {

}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li section {
    display: block;
    padding: 0;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li section ul li {
    display: block;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li section ul li span {

}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li section ul li a {
    display: block;
    padding: 8px 0;
    background-color: #fff;
    transition: background-color 0.25s ease-in-out;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    position: relative;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li section ul li:nth-child(2n+2) a {
    background-color: #F2FCFC;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li section ul li a:hover,
#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li section ul li:nth-child(2n+2) a:hover {
    background-color: #f6fafc;
}


#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li section ul li a:after {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    background-size: 16px auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7px;
    background-repeat: no-repeat;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li section ul li a.included:after {
    background-image: url(/assets/images/new-world/icons/check-2019.svg);
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li section ul li a.not-included:after {
    background-image: url(/assets/images/new-world/icons/cross-2019.svg);
    width: 14px;
    background-size: 12px auto;
}


#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li section a.get-quote-link {
    background: #ec4759;
    border-radius: 5px;
    color: #fff;
    display: block;
    margin-top: 10px;
    padding: 10px 25px;
    position: relative;
    left: 24%;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.25s ease-in-out;
    display: inline-block;
}

#landing-page-wrap section[data-type="compare-deals"] #compare-wrap > .inner > ul > li section a.get-quote-link:hover {
    opacity: .85;
}

#landing-page-wrap section[data-type="compare-deals"] > div#compare-wrap {
    padding: 25px 0 45px 0;
}

#landing-page-wrap section[data-type="why-eversmart"] {
    margin-bottom: 35px;
}

#landing-page-wrap section[data-type="why-eversmart"] h2 {

}

#landing-page-wrap section[data-type="why-eversmart"] p {

}

#landing-page-wrap section[data-type="why-eversmart"] ul {
    list-style-type: none;
    margin: 35px 0 0 0;
    padding: 0;
}

#landing-page-wrap section[data-type="why-eversmart"] ul li {
    display: inline-block;
    background-color: #ea495c;
    width: 350px;
    height: 350px;
    border-radius: 5px;
    margin-bottom: 25px;
    vertical-align: top;
}

#landing-page-wrap section[data-type="why-eversmart"] ul li:not(:first-child) {
    margin-left: 15px;
}

#landing-page-wrap section[data-type="why-eversmart"] ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
}

#landing-page-wrap section[data-type="why-eversmart"] ul li a .img-wrap {
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin: 14px 0 0 0;
}

#landing-page-wrap section[data-type="why-eversmart"] ul li a .img-wrap img {
    max-width: 100%;
}

#landing-page-wrap section[data-type="why-eversmart"] ul li:nth-child(2) a .img-wrap img,
#landing-page-wrap section[data-type="why-eversmart"] ul li:nth-child(3) a .img-wrap img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: auto;
    max-width: none;
}

#landing-page-wrap section[data-type="why-eversmart"] ul li a h3 {
    display: block;
    margin: 5px 0;
    font-size: 21px;
}

#landing-page-wrap section[data-type="why-eversmart"] ul li a span {
    font-size: 11px;
    margin-top: -5px;
    display: block;
}

#landing-page-wrap section[data-type="why-eversmart"] ul li a p {
    font-size: 14px;
    padding: 0 60px;
    font-weight: 500;
}

#landing-page-wrap section[data-type="boiler-signup-steps"] ol {
    display: inline-block;
}

#landing-page-wrap section[data-type="boiler-signup-steps"] ol li {
}

@media (min-width: 319px) {

    #landing-page-wrap section[data-type="why-eversmart"] ul li {
        width: 340px;
        height: 340px;
    }

    #landing-page-wrap section[data-type="why-eversmart"] ul li a span {
        font-size: 16px;
    }

    #landing-page-wrap section[data-type="why-eversmart"] ul li a p {
        font-size: 13px;
    }

    #landing-page-wrap section[data-type="why-eversmart"] ul li a .img-wrap {
        width: 120px;
        height: 120px;
    }
}

section.hero.hero-img {
    background: url("/assets/images/new-world/home-services/home-services.jpg") center center !important;
    background-size: cover !important;
}

.items {
    list-style-type: none;
    padding: 0;
}

.items li {
    padding: 5px;
}

.items span {
    padding-left: 35px;
}

.items li:before {
    background: url("/assets/images/new-world/cross.png") no-repeat;
    background-size: contain;
    content:"";
    height: 24px;
    position: absolute;
    padding-right: 30px;
    width: 24px;
}

.items li.included:before {
    background: url("/assets/images/new-world/tick.png") no-repeat;
    background-size: contain;
    position: absolute;
}

.product-button {
    background: rgb(231, 63, 82);
    color: #fff;
    border-radius: 5px;
    display: block;
    margin-top: 10px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.25s ease-in-out;
}