.mobileonly.dashbaordmobilemenu{top:0px}
.three_bottom {margin-top: -5px;background-position-y: -70px; background:url(../images/new-sm-bottom-shape_ie.svg) left top no-repeat; min-height:366px;}
.three_bottom-new {margin-bottom: -57px;}
.page-header {padding-bottom: 100px; background-position-y: -120px;}
.section-why-switch h2 {padding-top: 6em;}
.section-why-switch {background-position-y: -352px;}
.three_box {float: none;padding-top: 35px;}
.red-rounded-wave {background-position-y: 230px;}
#singup_rounded{background-position-y:670px; padding-bottom:100px; background-size:100% auto;}
.material-fix-energy {top: 8px !important;}
.material-fix {top: -380px !important;}
.back_step .material-icons {top: -180px;}
.material-fix-supplier {padding: 0px 0px 300px !important;}
.postcode_box {padding: 23px 0px 112px !important;}
.ie-fix {padding-top: 35px;}
.ie-padding {padding-bottom: 190px !important;}
.ie-extra-padding {padding-bottom: 180px !important;}
.main_footer{background-position: top -252px left 0px;}
.section-why-switch{background-position:left top -303px; padding-top:10px;}
.footer-top-sky-rounded{height: 170px}
.section-smart-customer-services h2{padding-top:30px;}
.title_step{padding-top:30px;}
.inner_six h2{padding-top:30px;}
.topWave-position {left: -140px; padding-top: 0px;}
.page-header{padding-bottom: 54px;}
.footer-top-sky-rounded {height: 0px;}
.main_footer { background-position: left top -316px;}
/* .section-why-switch {background-position: left top -805px;} */
.section-why-switch {background-position: left top -770px}
.our-mission-img {top: 323px !important;}
.frontVid {top: 63px !important;}
.image1 {padding-top: 280px;}
.our-mission-background-img { bottom: -20px;}
.renewable-text-size { font-family: myFont-bold; }
.social-text-update { font-family: myFont-bold; }
.our-mission-header { font-family: myFont-bold; }
.image3 { top: -83px; }
.guideFaqCardAndMeter { left: 0px; }
/* .red-rounded-wave { background-position-y: 750px; } */
/* .red-rounded-wave { background-position: bottom; } */
.monthly_yearly_toggle a.monthly_selected { color: black;}
ul #monthly_selectors li a.active { color: black !important; }
.font-style-quick { font-family: quicksand; }
.font-style-quick-thick { font-family: myFont-bold; }

@media (min-width: 1501px) and (max-width: 1800px) {
    .main_footer { background-position: left top -341px;}
    .frontVid { top: 111px !important; width: 581px !important;}
    .page-header { background-position-y: -150px;}
}

@media (min-width: 1280px) and (max-width: 1500px) {
    .red-rounded-wave { background-position-y: 280px; }
    .responsive-mobile { position: relative; top: 80px; left: 55px;}
    .main_footer { background-position: left top -348px; }
    .guideFaqCardAndMeter { left: -25px; }
    .our-mission-img { background-size: 615px 530px; }
    .image2 { top: 280px; }
    .frontVid { left: 84px; top: 109px !important; width: 581px !important;}
    .page-header { background-position-y: -178px;}
    /* #family-img { display: none; } */
    /* .section-why-switch{background-position: left top -873px;} */
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .red-rounded-wave { background-position-y: 300px; }
    .guideFaqCardAndMeter { left: -33px; }
    .height-restriction-guides { width: 400px; }
    .our-mission-img {top: 421px !important;}
    .frontVid { top: 29px !important; width: 581px !important;}
    .page-header { background-position-y: -185px;}
    .main_footer { background-position: left top -386px; }	
    .frontVid { width: 481px !important;}
    .image2 { top: 527px; }
    .image3 { left: 0px; top: -61px; }
    /* .section-why-switch{background-position: left top -387px;} */
    .section-why-switch{background-position: left top -897px;}
}

@media (min-width: 768px) and (max-width: 1023px) {
    #redd-btn-pc { font-size: 7px; }
    .main_card_box .gas_card { width: 100%; }
    .red-rounded-wave { background-position-y: 300px; }
    .image2 { top: 540px; }
    .image3 { top: -43px; left: 0px; height: 110px; width: 110px;}
    .responsive-mobile { position: relative; top: 80px;}	
    .main_footer { padding: 0px 0px 0px 0px;  background-position: left top -551px;}
    .page-header { background-position-y: -220px;}	
    .social-icons img{ width:70px; height:70px; margin: 0px 20px; }
    #telegramvid, #socialvid{margin-top:10px;}
    .info-horizontal .icon-primary{float:left}
    .mobileonly.dashbaordmobilemenu{top:0px;}
    .section-why-switch{background-position: left top -1070px;}
    .guideFaqCardAndMeter { left: -33px; }
    .height-restriction-guides { width: 302px; }
}

@media all and (max-width:767px) and (min-width:481px)
{   
    .main_footer { padding: 0px 0px 0px 0px; background-position: left top -551px;}
    .page-header{padding-bottom:96px;background-position-y:-329px;}
	.section-why-switch{background-position: left top -472px;}
	.three_bottom{min-height:275px}
	.three_bottom-new{margin-bottom:0px;bottom:-160px}
    .main-footer{background-position:top -520px left 0px}
    .mobileonly.dashbaordmobilemenu{top:0px;}
}

@media all and (max-width:480px)
{
    .main_footer { padding: 0px 0px 0px 0px; background-position: left top -551px;}
    .page-header{background-position-y:-247px;}
    .section-why-switch{background-position: left top -822px;}
    .mobileonly.dashbaordmobilemenu{top:8px;}
}

.section-padding-our-mission {
    padding-bottom: 0px;
  }

  .padding-group-img {
    padding-bottom: 0px;
  }