
/* Smartphones (portrait and landscape) -------------------- */
@media (min-width: 320px) and (max-width: 480px)
   { 

#media-mobile-m{display:block; float:left;}
#media-mobile-m .material-icons{position:relative;   top:-30px;     left: 20px;}
#main-bak-dd{display:none;}
#media-mobile-m #backtohometype{top:-1px!important;}
	#addess-list-select{top: -66px;
    left: 120px;}
.blue-annual,.ever_reapir{padding-top:46px;}
.boiler_replacemen_img_left{width:100%}
.boiler_replacemen_img_left img{width:100%; position:relative;}
.gap-left-box{margin-right:0px;}
.fix-box-br{display:none;}
.ever_bottom_bg_top,.ever_bottom_bg,.annaul_bottom_bg_top,.annaul_bottom_bg{min-height:150px;}
.logo{font-size:25px;}
.page-header{ margin-top:-20px;}
.why_switch_box_first{margin-top:0px;}
.why_switch_box{margin:10px 0px;}
.section-why-switch .reasons .info .icon{float:none; width:100px; margin:10px auto;}
.section-why-switch .reasons{margin-top:10px;}
.section-easy-steps{padding-top:80px;}
.btnNew .btn-eversmart{font-size:11px!important;}
.cd-section{padding:50px 0px;}
.red-rounded-wave{ background:url(../images/red-round.png) linear-gradient(45deg, rgba(255,88,88,1) 0%, rgba(241,70,138,1) 85%, rgba(238,67,147,1) 100%) left bottom  no-repeat;    background-size:contain;}
.boiler_header-h{padding-bottom:100px;}
.main-rounded-red-header{ background-size:cover;}
.cs_switching{margin-top:0px}
.bolier_home-h-l{margin-top:12px;}
.main_footer{min-height:1150px; background:url(../images/footer-mobile.svg)#fff left bottom no-repeat; }
.btn.btn-twitter.btn-simple, .navbar .navbar-nav > li > a.btn.btn-twitter.btn-simple{color:#000!important;}
.btn.btn-facebook.btn-simple, .navbar .navbar-nav > li > a.btn.btn-facebook.btn-simple {color:#000!important;}
.social-footer{bottom:5px;}
.social-footer .fa{color:#fff;}
.copyright{margin-bottom:5px;}
#footer-blue{min-height:1110px; background-size:210% auto;}
.bolier_home-h-l{font-size:40px;}
.bolier_home-h-s{font-size:21px;}

.main-bottom-round{padding-bottom:29px;}
.postcode_box{padding-bottom:150px;}

 .page-header .brand{margin-top:30px; text-align:center;}
 .page-header .brand .title{font-size:30px; text-align:center;}  
 .inner_six{padding:80px 0px 50px;}
 .inner_six h2{font-size:30px;}
 .page-header .brand .hook{ line-height:30px; font-size:24px; text-align:center;}
 .page-header .phone{margin-top: 70px;}
 .section-why-switch{ padding: 28px 0px;}
 .section-why-switch .reasons h2{text-align:center;}

 .info-title{width:100%; text-align:center;}
 .section-why-switch .reasons .info p{width:100%; text-align:center;margin:10px 0px;}
 .section-smart-customer-services .services-xs .social-icons .social-icon img{width:52px;}
 .social-icons{text-align:center; width:100%; margin:5px auto; padding:0px; float:none;}
 .social-icons img{ width:45px; height::auto; margin: 0px 0px; }

 .navbar.navbar-dark .breadcrumb .nav-item.active > .nav-link:hover, .navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link:hover, .navbar.navbar-dark .navbar-toggler, .navbar.navbar-dark form .md-form .form-control{    color: #000 !important;    position: relative;    top: -28px;    right: -19px;}
.show .nav-link {color:#000!important;}
 .topbar{padding:6px 0px 41px 0px;}
 .boxCenterImg img{width:100%}
 .navbar-toggler{}
.show ul{background:#fefdfd; border-radius:5px; border-radius:5px; border: 1px solid aliceblue; padding:15px 12px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
.mobile_menu{z-index:55;}
.navbar-toggler{top: -27px;position: relative;right: -20px;}

.main-bottom-round{padding-bottom:30px;}
.info-horizontal .icon{width:100px; height:100px;}
.info-horizontal{width:100%; text-align:center;}

/*******************2604-2018***********/
.footer-top-sky-rounded{height:55px;}
#rounder-b-energy{margin:0px;}  
#p-s-code{width:58%}
#form-postcode{font-size:14px;}
#form-postcode::placeholder {font-size:14px;  opacity: 1; /* Firefox */}
.main{ background:url(../images/responsive-landing.svg)left -60px no-repeat;}
.middle-meter-center h2{margin-top:30px; font-size:25px; line-height:35px;}
.middle-meter-center img{width:60%; height:auto; }
.middle-meter-center .col-sm-6 {text-align:center;}
.middle-meter-center{padding-bottom:285px; padding-top:230px;}
.middle-meter-center .mtop60{margin-top:25px!important;}
.three_bottom{margin-top:-3px;}
.navbar-collapse{position:absolute; right:0; width:60%;}
.white-btn{width:100px; text-align:center;}
/*#back_postcode,#back_address,.backfromprepay{top:-56px!important;}
.post_box_heading4{font-size:14px; line-height:24px;}*/
/*#back_known_supplier{top:-72px!important;}*/
#here-about-us-page .gas_card{width: 75%!important;}
#hear-page-ab .mtop60{margin-top:0px!important;}

/*#elec_usage .gas_card{width: 75%!important;}*/

figure.effect-sadie p{font-size:13px!important; line-height:20px!important;}
#redd-btn-pc{padding:18px!important}  
.input-group-btn{width:39%;}

.main-top-margin-60{margin-top:0px;}
  
.bank-society-acc::placeholder{ font-size:12px;}
.rounded-login-btn{padding:10px 25px!important;}
.media-phone-fix{width:100%; text-align:center; float:left; margin-top:10px;}
.media-phone-fix .social-icon{ width:25%; float:left; text-align:center; }
.loading-page{margin:48% auto!important;}
#navbarSupportedContent-3{background:#fefdfd;}
#login-section .card-body{padding:30px 15px;}
.loginheading{font-size:30px}
.regis-email-y{line-height:20px!important;}
.red-rounded-wave-login{background-position: right 100%;}
.tariff-bill-down a{padding: 10px 22px; font-size:13px;}  
.product-code-no-d{right:21%; top:40px;}
#navbarSupportedContent-3-main{margin-top:-30px;}
#my-energy-pd{padding-top:10px; padding-bottom:50px!important;}
#media-mobile-m a img{border-radius:0;}

/****************************Contact Page***********************/
.cs_switching-contact{padding-top:15px!important;}
.cs_sw_detail h2{font-size:24px; line-height:30px;}
.cs_sw_detail p{font-size:16px; line-height:26px;}
#cs_sw_btn{padding:5px 18px; font-size:15px;}
.contact_middile{display:none;}
.cs_formarea{margin-top:25px;}
.cs_fa_head{width:90%; margin: 0 auto; float:none;}
.cs_form{margin-top:30px; padding:10px 15px;}
.cs_formarea h1{font-size:20px; margin-top:25px;}
.mob-top-padding{padding:60px 0px}
.mobile-responsive-shape img{width:80%; height:auto; padding-top:15px;}
.mobile-responsive-shape{text-align:center;}
.mob-top-padding h2{padding:20px 0px; color:#fff;}
.mob-top-padding p{color:#fff; font-size:14px; line-height:20px;}
.mob-top-padding #cs_hs_btn {padding:10px 30px; font-size:14px;}
.mobile-responsive-shape{display:block}

/**********************Vision page*******************/
.our-mision-first{display:none;}
.our-vision-first p{font-size:16px; line-height:26px;padding-top:20px;}
.our-vision-last p{font-size:16px; line-height:26px; padding-top:20px;}
.mobile-responsive-shape-bottom .row{padding:80px 0px;}
.vision-gap-f .col-sm-12{text-align:center!important;}
.logo img { width: 60%;  height: auto;}

/***********************career Page****************/
.career-page{ margin:10px 0px; width:100%;}
.career-download h2{font-size:20px; line-height:28px;}
.btn-download{margin:20px 0px 0px 18px; line-height:32px; }
.career-shape-two{display:none;}
.cft_heading{font-size:28px; line-height:35px; padding-top:25px;}
.cs_switching-career h2{font-size:20px; line-height:28px;}
.accordion .card-header.collapsed::after{font-size:16px;}
#accordion .card-title{font-size:16px}
.accordion .card-header::after{font-size:16px; margin-top:0px;}
#accordion p{font-size:13px; line-height:20px;}

/********************Our Tariff**************/
#our-tariff-top{background-size:contain; background-position:0px 232px;}
.tariff-btn-sbt{font-size:12px; padding:16px 0px;}
.relavent-tariff{margin-top:-370px; padding-top:205px;}
#our-tariff-top h1{ font-size:20px;}
.grey-txt-our-tariff{font-size:15px; line-height:20px; margin-bottom:95px;}
.relavent-tariff h2{font-size:30px; line-height:40px;}
.relavent-tariff p{font-size:20px; line-height:30px}


}

  
 
/* Smartphones (portrait and landscape) -------------------- */
@media (min-width: 481px) and (max-width: 767px)
   { 
#media-mobile-m a img{border-radius:0;}
#media-mobile-m{display:block; float:left;}
#media-mobile-m .material-icons{position:relative;     top: -30px;    left: 20px;}

#main-bak-dd{display:none;}
#media-mobile-m #backtohometype{top:-1px!important;}
	#addess-list-select{top: -66px;
    left: 120px;}
.blue-annual,.ever_reapir{padding-top:46px;}
.boiler_replacemen_img_left{width:100%}
.boiler_replacemen_img_left img{width:100%; position:relative;}
.gap-left-box{margin-right:0px;}
.fix-box-br{display:none;}
.ever_bottom_bg_top,.ever_bottom_bg,.annaul_bottom_bg_top,.annaul_bottom_bg{min-height:150px;}
.logo{font-size:25px;}
.page-header{ margin-top:-20px;}
.why_switch_box_first{margin-top:0px;}
.why_switch_box{margin:10px 0px;}
.section-why-switch .reasons .info .icon{float:none; width:100px; margin:10px auto; height:87px; line-height:87px; font-size:48px;}
.section-why-switch .reasons{margin-top:10px;}
.section-easy-steps{padding-top:80px;}
.btnNew .btn-eversmart{font-size:11px!important;}
.cd-section{padding:50px 0px;}
.red-rounded-wave{ background:url(../images/red-round.png) linear-gradient(45deg, rgba(255,88,88,1) 0%, rgba(241,70,138,1) 85%, rgba(238,67,147,1) 100%) left bottom  no-repeat;    background-size:contain;}
.boiler_header-h{padding-bottom:100px;}
.main-rounded-red-header{ background-size:cover;}
.cs_switching{margin-top:0px}
.bolier_home-h-l{margin-top:12px;}
.main_footer{min-height:950px; background:url(../images/footer-mobile.svg)#fff left bottom no-repeat; }
.btn.btn-twitter.btn-simple, .navbar .navbar-nav > li > a.btn.btn-twitter.btn-simple{color:#000!important;}
.btn.btn-facebook.btn-simple, .navbar .navbar-nav > li > a.btn.btn-facebook.btn-simple {color:#000!important;}
.social-footer{bottom:5px;}
.social-footer .fa{color:#fff;}
.copyright{margin-bottom:5px;}
#footer-blue{min-height:1110px; background-size:210% auto;}
.bolier_home-h-l{font-size:40px;}
.bolier_home-h-s{font-size:21px;}

.main-bottom-round{padding-bottom:29px;}
.postcode_box{padding-bottom:150px;}

 .page-header .brand{margin-top:30px; text-align:center;}
 .page-header .brand .title{font-size:30px; text-align:center;}
 .inner_six{padding:80px 0px 50px;}
 .inner_six h2{font-size:30px;}
 .page-header .brand .hook{ line-height:30px; font-size:24px; text-align:center;}
 .page-header .phone{margin-top: 70px;}
 .section-why-switch{ padding: 28px 0px;}
 .section-why-switch .reasons h2{text-align:center;}

 .info-title{width:100%; text-align:center;}
 .section-why-switch .reasons .info p{width:100%; text-align:center;margin:10px 0px;}
 .section-smart-customer-services .services-xs .social-icons .social-icon img{width:52px;}
 .social-icons{text-align:center; width:100%; margin:5px auto; padding:0px; float:none;}
 .social-icons img{ width:45px; height::auto; margin: 0px 0px; }

 .navbar.navbar-dark .breadcrumb .nav-item.active > .nav-link:hover, .navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link:hover, .navbar.navbar-dark .navbar-toggler, .navbar.navbar-dark form .md-form .form-control{    color: #000 !important;    position: relative;    top: 2px;    right: -19px;}
.show .nav-link {color:#000!important;}
 .topbar{padding: 35px 0px 41px 0px;}
 .boxCenterImg img{width:100%}
 .navbar-toggler{}
.show ul{background:#fefdfd; border-radius:5px; border-radius:5px; border: 1px solid aliceblue; padding:15px 12px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
.mobile_menu{z-index:55;}
.navbar-toggler{top: -27px;position: relative;right: -20px;}

.main-bottom-round{padding-bottom:30px;}
.info-horizontal .icon{width:100px; height:100px;}
.info-horizontal{width:100%; text-align:center;}

/*******************2604-2018***********/
.footer-top-sky-rounded{height:55px;}
#rounder-b-energy{margin:0px;}  
#p-s-code{width:58%}
#form-postcode{font-size:14px;}
#form-postcode::placeholder {font-size:14px;  opacity: 1; /* Firefox */}
.main{ background:url(../images/responsive-landing.svg)left -250px no-repeat;}
.middle-meter-center h2{margin-top:30px; font-size:25px; line-height:35px;}
.middle-meter-center img{width:60%; height:auto; }
.middle-meter-center .col-sm-6 {text-align:center;}
.middle-meter-center{padding-bottom:285px; padding-top:230px;}
.middle-meter-center .mtop60{margin-top:25px!important;}
.three_bottom{margin-top:-3px;}
.navbar-collapse{position:absolute; right:0; width:60%;}
.white-btn{width:100px; text-align:center;}
/*#back_postcode,#back_address,.backfromprepay{top:-56px!important;}
.post_box_heading4{font-size:14px; line-height:24px;}*/
/*#back_known_supplier{top:-72px!important;}*/
#here-about-us-page .gas_card{width: 75%!important;}
#hear-page-ab .mtop60{margin-top:0px!important;}

#elec_usage .gas_card{width: 75%!important;}

figure.effect-sadie p{font-size:13px!important; line-height:20px!important;}
#redd-btn-pc{padding:18px!important}  
.input-group-btn{width:39%;}

.main-top-margin-60{margin-top:0px;}
  
.bank-society-acc::placeholder{ font-size:12px;}
.rounded-login-btn{padding:10px 25px!important;}
.media-phone-fix{width:100%; text-align:center; float:left; margin-top:10px;}
.media-phone-fix .social-icon{ width:25%; float:left; text-align:center; }
.loading-page{margin:48% auto!important;}
#navbarSupportedContent-3{background:#fefdfd;}
#login-section .card-body{padding:30px 15px;}
.loginheading{font-size:30px}
.regis-email-y{line-height:20px!important;}
.red-rounded-wave-login{background-position: right 100%;}
.product-code-no-d{right:21%; top:40px;}
#navbarSupportedContent-3-main{margin-top:-30px;}
#my-energy-pd{padding-top:40px; padding-bottom:60px}



/****************************Contact Page***********************/
.cs_switching-contact{padding-top:15px!important;}
.cs_sw_detail h2{font-size:24px; line-height:30px;}
.cs_sw_detail p{font-size:16px; line-height:26px;}
#cs_sw_btn{padding:5px 18px; font-size:15px;}
.contact_middile{display:none;}
.cs_formarea{margin-top:25px;}
.cs_fa_head{width:90%; margin: 0 auto; float:none;}
.cs_form{margin-top:30px; padding:10px 15px;}
.cs_formarea h1{font-size:20px; margin-top:25px;}
.mob-top-padding{padding:60px 0px}
.mobile-responsive-shape img{width:80%; height:auto; padding-top:15px;}
.mobile-responsive-shape{text-align:center;}
.mob-top-padding h2{padding:20px 0px; color:#fff;}
.mob-top-padding p{color:#fff; font-size:14px; line-height:20px;}
.mob-top-padding #cs_hs_btn {padding:10px 30px; font-size:14px;}
.mobile-responsive-shape{display:block}
.logo img {
    width: 60%;
    height: auto;
}

/**********************Vision page*******************/
.our-mision-first{display:none;}
.our-vision-first p{font-size:16px; line-height:26px;padding-top:20px;}
.our-vision-last p{font-size:16px; line-height:26px; padding-top:20px;}

/***********************career Page****************/
.career-page{ margin:10px 0px; width:100%;}
.career-download h2{font-size:20px; line-height:28px;}
.btn-download{margin:20px 0px 0px 18px; line-height:32px; }
.career-shape-two{display:none;}
.cft_heading{font-size:28px; line-height:35px; padding-top:25px;}
.cs_switching-career h2{font-size:20px; line-height:28px;}
.accordion .card-header.collapsed::after{font-size:16px;}
#accordion .card-title{font-size:16px}
.accordion .card-header::after{font-size:16px; margin-top:0px;}
#accordion p{font-size:13px; line-height:20px;}




/*.social-footer{position:relative;}
.copyright {position:relative;}*/
}
 
  

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
	
 .page-header .brand{margin-top:30px!important; }
 .page-header .brand .title{font-size:40px;}
 .inner_six{padding:80px 0px 50px;}
 .inner_six h2{font-size:30px;}
 .page-header .brand .hook{ line-height:30px; font-size:24px;}
 .page-header .phone{margin-top: -10px;}
 .section-why-switch{padding: 30px 0px;}
 .section-why-switch .reasons h2{}
 .section-why-switch .reasons .info .icon{ width:100%; margin:10px 0px; }
 .info-title{width:100%;}
 .section-why-switch .reasons .info p{width:100%; margin:8px 0px;}

 .social-icons{text-align:center; width:68%; margin:15px auto; padding:0px; float:none;}
 .navbar.navbar-dark .breadcrumb .nav-item.active > .nav-link:hover, .navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link:hover, .navbar.navbar-dark .navbar-toggler, .navbar.navbar-dark form .md-form .form-control{    color: #000 !important;    position: relative;    top: -28px;    right: -19px;}
.show .nav-link {color:#000!important;}
 .topbar{padding: 10px 0px 41px 0px;}
 .boxCenterImg img{width:100%}
 .navbar-toggler{}
.show ul{background:#fefdfd; border-radius:5px; border-radius:5px; border: 1px solid aliceblue; padding:15px 12px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
.mobile_menu{z-index:55;}
.navbar-toggler{top: -8px!important;position: relative;right: -20px;}
 .social-icons img{ width:70px; height::auto; margin: 0px 20px; }
 .why_switch_box_first{ margin:20px 0px 10px 0px;}
 .why_switch_box{margin:10px 0px;}
 .services .phone img{width:60%}
 .phone .smsImage{ left:7%}
 .navbar .nav-item .nav-link{font-size:12px;}
 #p-s-code{width:58%!important;}
#form-postcode{font-size:14px!important;}
#form-postcode::placeholder {font-size:14px!important;  opacity: 1; /* Firefox */}
.dark_heading{font-size:30px;}
#media-mobile-m{display:block; float:left;}
#media-mobile-m .material-icons{position:relative;     top: 40px;    left: 60px;}
#main-bak-dd{display:none;}
#media-mobile-m #backtohometype{top:-1px!important;}
.loading-page{margin:48% auto;}
#chatvid .social-title{text-align:right;}
#socialvid .social-title{text-align:right;}
#login-section .card-body{padding:30px 15px;}
.loginheading{font-size:30px}
.regis-email-y{line-height:20px!important;}
.dash-over-read{ font-size:19px;}
  
   .blue-reading-box{width:100%;}
	.blue-reading-box-inner{padding:10px!important;}
	.meter-serial-txt{font-size:18px;}
	.reading-input-class{padding:0px!important;}
	.reading-input-class li{width:19.8%;  margin:0px 2.5% 10px 2.5%;}
	.reading-input-class li:first-child{margin-left:2.5%!important;}
	.reading-input-class li input[type="text"]{font-size:25px;}
	
	/*********************contact page*************/
	.mobile-responsive-shape{display:none;}
	


 }
 
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) 
{

	.page-header{margin-top:140px;}
	.email-f-link{font-size:6px;}
.page-header .brand{margin-top:30px!important; }
 .page-header .brand .title{font-size:40px;}
 .inner_six{padding:80px 0px 50px;}
 .inner_six h2{font-size:30px;}
 .page-header .brand .hook{ line-height:30px; font-size:24px;}
 .page-header .phone{margin-top: -10px;}
 .section-why-switch{padding: 30px 0px;}
 .section-why-switch .reasons h2{}
 .section-why-switch .reasons .info .icon{ width:100%; margin:10px 0px; }
 .info-title{width:100%; text-align:left;}
 .section-why-switch .reasons .info p{width:100%; margin:8px 0px; text-align:left;}

 .social-icons{text-align:center;  margin:15px auto; padding:0px; float:none;}
 .navbar.navbar-dark .breadcrumb .nav-item.active > .nav-link:hover, .navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link:hover, .navbar.navbar-dark .navbar-toggler, .navbar.navbar-dark form .md-form .form-control{    color: #000 !important;    position: relative;    top: -28px;    right: -19px;}
.show .nav-link {color:#000!important;}
 .topbar{padding: 10px 0px 41px 0px;}
 .boxCenterImg img{width:100%}
 .navbar-toggler{}
.show ul{background:#fefdfd; border-radius:5px; border-radius:5px; border: 1px solid aliceblue; padding:15px 12px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
.mobile_menu{z-index:55;}
.navbar-toggler{top: -8px!important;position: relative;right: -20px;}
 .social-icons img{ width:70px; height::auto; margin: 0px 20px; }
 .why_switch_box_first{ margin:20px 0px 10px 0px;}
 .why_switch_box{margin:10px 0px; text-align:center;}      
 .services .phone img{width:60%}
 .phone .smsImage{ left:7%}
 .navbar .nav-item .nav-link{font-size:12px;}
 #p-s-code{width:51%!important;}
#form-postcode{font-size:14px!important;}
#form-postcode::placeholder {font-size:14px!important;  opacity: 1; /* Firefox */}
.dark_heading{font-size:30px;}
#media-mobile-m{display:block; float:left; width:100%; float:left; text-align:left;}
#media-mobile-m .material-icons{position:relative;     top: 40px;    left:8px;}
#main-bak-dd{display:none;}
#media-mobile-m #backtohometype{top:-1px!important;}
.mtop60{margin-top:0;}
.loading-page{margin:49% auto;}
#redd-btn-pc{ font-size:12px;}
.post_box_heading4{font-size:23px;}
.main_card_box .gas_card{width:100%;}
.reasons{ margin-top:10px!important;}
.section-why-switch .reasons .info .icon{   float:left; margin:10px auto; font-size: 28px;    height: 67px!important;    width: 67px!important;    line-height: 56px;} 
.middle-meter-center h2{ margin-top:60px;}  
.section-smart-customer-services .services-sm .info{float:left; width:100%;}
.info-horizontal .icon-primary {float:left;}     
 
#telegramvid, #socialvid{margin-top:10px;}
figure.effect-sadie p{font-size:12px!important; line-height:18px!important;}
.input-group-btn{width:45%;}
.navbar-collapse{    position: absolute;    right: 0;    width: 70%; background:#fefdfd; border-radius:5px; }
.switch-box-mobile{width:100%; text-align:center;}
.switch-box-mobile img{ width:100%;}
.main_footer{ background:url(../images/footer-mobile.svg)left bottom no-repeat;min-height: 845px; }
.main{ background:url(../images/responsive-landing.svg)left -350px no-repeat;}
.brand{padding-top:50px;}
#login-section .card-body{padding:30px 15px;}
.loginheading{font-size:30px}
.regis-email-y{line-height:20px!important;}
.red-rounded-wave-login{background: url(../images/login-shape-bg.png) right bottom no-repeat; background-size:contain;} 
.mobile_box_home_dash{float:left;width:100%;text-align:center;}
#fix-process-center{padding-right:0px; width:80%;}
.blue-reading-box{width:100%;}
	.blue-reading-box-inner{padding:10px;}
	.meter-serial-txt{font-size:18px;}
	.reading-input-class{padding:0px;}
	.reading-input-class li{width:19.8%;  margin:0px 2.5% 10px 2.5%;}
	.reading-input-class li:first-child{margin-left:2.5%!important;}
	.reading-input-class li input[type="text"]{font-size:25px;} 

	/*********************contact page*************/
	.mobile-responsive-shape{display:none;}	
	
		.cs_hs_detail{margin-top:90px;}
	.cs_hs_detail p{font-size:14px; line-height:22px;}
	#cs_hs_btn{font-size:16px; padding:5px 10px; margin:15px 0px;}
	
	/******************Career page********************/
	.btn-download{margin:20px 0px 0px 33px;}
	.career-shape-two{height:500px!important; }
	.career_box-left{padding-top:100px!important;}
	.career_box-left h3{text-align:center;}
	.usage-table-tariff tr td:first-child{font-size:13px;}
	
	/***************************Dashboard****************/
	

	

}


 
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  /* your css rules for ipad landscape */
  
  
.email-f-link{font-size:6px;}

.page-header .brand{margin-top:30px!important; }
 .page-header .brand .title{font-size:40px;}
 .inner_six{padding:80px 0px 50px;}
 .inner_six h2{font-size:30px;}
 .page-header .brand .hook{ line-height:30px; font-size:24px;}
 .page-header .phone{margin-top: -10px;}
 .section-why-switch{padding: 30px 0px;}
 .section-why-switch .reasons h2{}
 .section-why-switch .reasons .info .icon{ width:100%; margin:10px 0px; }
 .info-title{width:100%;}
 .section-why-switch .reasons .info p{width:100%; margin:8px 0px;}

 .social-icons{text-align:center;  margin:15px auto; padding:0px; float:none;}
 .navbar.navbar-dark .breadcrumb .nav-item.active > .nav-link:hover, .navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link:hover, .navbar.navbar-dark .navbar-toggler, .navbar.navbar-dark form .md-form .form-control{    color: #000 !important;    position: relative;    top: -28px;    right: -19px;}
.show .nav-link {color:#000!important;}
 .topbar{padding: 10px 0px 41px 0px;}
 .boxCenterImg img{width:100%}
 .navbar-toggler{}

.mobile_menu{z-index:55;}
.navbar-toggler{top: -8px!important;position: relative;right: -20px;}
 .social-icons img{ width:70px; height::auto; margin: 0px 20px; }
 .why_switch_box_first{ margin:20px 0px 10px 0px;}
 .why_switch_box{margin:10px 0px; }      
 .services .phone img{width:60%}
 .phone .smsImage{ left:7%}
 .navbar .nav-item .nav-link{font-size:12px!important;}
 #p-s-code{width:51%!important;}
#form-postcode{font-size:14px!important;}
#form-postcode::placeholder {font-size:14px!important;  opacity: 1; /* Firefox */}
.dark_heading{font-size:30px;}
#media-mobile-m{display:block; float:left; width:100%; float:left; text-align:left;}
#media-mobile-m .material-icons{position:relative;     top: 40px;    left:8px;}
#main-bak-dd{display:none;}
#media-mobile-m #backtohometype{top:-1px!important;}
.mtop60{margin-top:0;}
.loading-page{margin:49% auto;}
#redd-btn-pc{ font-size:12px;}
.post_box_heading4{font-size:23px;}
.main_card_box .gas_card{width:100%;}
.reasons{ margin-top:10px!important;}
.section-why-switch .reasons .info .icon{font-size: 28px;    height: 67px!important;    width: 67px!important;    line-height: 67px;} 
.middle-meter-center h2{ margin-top:60px;}
.section-smart-customer-services .services-sm .info{float:left; width:100%;}
.info-horizontal .icon-primary {float:left;}     
 
#telegramvid, #socialvid{margin-top:10px;}
figure.effect-sadie p{font-size:12px!important; line-height:18px!important;}
.input-group-btn{width:45%;}

.switch-box-mobile{width:100%; text-align:center;}
.switch-box-mobile img{ width:90%;}

  
  .main_footer{ background:url(../images/footer-mobile.svg)left bottom no-repeat;min-height: 845px; }
.main{ background:url(../images/responsive-landing.svg)left -550px no-repeat;}
.brand{padding-top:50px;}
#login-section .card-body{padding:30px 15px;}
.loginheading{font-size:30px}
.regis-email-y{line-height:20px!important;}
.red-rounded-wave-login{background: url(../images/login-shape-bg.png) right bottom no-repeat; background-size:contain;} 
.mobile_box_home_dash{float:left;width:100%;text-align:center;} 
.blue-reading-box{width:100%;}
	.blue-reading-box-inner{padding:10px;}
	.meter-serial-txt{font-size:18px;}
	.reading-input-class{padding:0px;}
	.reading-input-class li{width:19.8%;  margin:0px 2.5% 10px 2.5%;}
	.reading-input-class li:first-child{margin-left:2.5%!important;}
	.reading-input-class li input[type="text"]{font-size:25px;}  
		/*********************contact page*************/
	.mobile-responsive-shape{display:none;}

	.cs_hs_detail{margin-top:100px;}
	.cs_hs_detail p{font-size:18px; line-height:26px;}
	#cs_hs_btn{font-size:18px; }
		/******************Career page********************/
	
	.career_box-left{padding-top:150px!important;}
	.career_box-left h3{text-align:center;}
	
	
   
}




@media (min-width: 768px) and (max-width: 1280px) {	

	.page-header{margin-top:140px;}
	.email-f-link{font-size:6px;}
.page-header .brand{margin-top:30px!important; }
 .page-header .brand .title{font-size:40px;}
 .inner_six{padding:80px 0px 50px;}
 .inner_six h2{font-size:30px; padding-top:50px;}
 .page-header .brand .hook{ line-height:30px; font-size:24px;}
 .page-header .phone{margin-top: -10px;}
 .section-why-switch{padding: 30px 0px;}
 .section-why-switch .reasons h2{}
 .section-why-switch .reasons .info .icon{ width:100%; margin:10px 0px; }
 .info-title{width:100%; text-align:left;}
 .section-why-switch .reasons .info p{width:100%; margin:8px 0px; text-align:left;}

 .social-icons{text-align:center;  margin:15px auto; padding:0px; float:none;}
 .navbar.navbar-dark .breadcrumb .nav-item.active > .nav-link:hover, .navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link:hover, .navbar.navbar-dark .navbar-toggler, .navbar.navbar-dark form .md-form .form-control{    color: #000 !important;    position: relative;    top: -28px;    right: -19px;}
.show .nav-link {color:#000!important;}
 .topbar{padding: 10px 0px 41px 0px;}
 .boxCenterImg img{width:100%}
 .navbar-toggler{}
.show ul{background:#fefdfd; border-radius:5px; border-radius:5px; border: 1px solid aliceblue; padding:15px 12px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
.mobile_menu{z-index:55;}
.navbar-toggler{top: -8px!important;position: relative;right: -20px;}
 .social-icons img{ width:70px; height::auto; margin: 0px 20px; }
 .why_switch_box_first{ margin:20px 0px 10px 0px;}
 .why_switch_box{margin:10px 0px; text-align:center;}      
 .services .phone img{width:60%}
 .phone .smsImage{ left:7%}
 .navbar .nav-item .nav-link{font-size:12px;}
 #p-s-code{width:51%!important;}
#form-postcode{font-size:14px!important;}
#form-postcode::placeholder {font-size:14px!important;  opacity: 1; /* Firefox */}
.dark_heading{font-size:30px;}
#media-mobile-m{display:block; float:left; width:100%; float:left; text-align:left;}
#media-mobile-m .material-icons{position:relative;     top: 40px;    left:8px;}
#main-bak-dd{display:none;}
#media-mobile-m #backtohometype{top:-1px!important;}
.mtop60{margin-top:0;}
.loading-page{margin:49% auto;}
#redd-btn-pc{ font-size:12px;}
.post_box_heading4{font-size:23px;}
.main_card_box .gas_card{width:100%;}
.home_type .gas_box_icon img{height:130px!important;}
#media-mobile-m img{border-radius:0px!important}
.reasons{ margin-top:10px!important;}
.section-why-switch .reasons .info .icon{   float:left; margin:10px auto; font-size: 28px;    height: 67px!important;    width: 67px!important;    line-height: 56px;} 
.middle-meter-center h2{ margin-top:60px;}  
.section-smart-customer-services .services-sm .info{float:left; width:100%;}
.info-horizontal .icon-primary {float:left;}     
 
#telegramvid, #socialvid{margin-top:10px;}
figure.effect-sadie p{font-size:12px!important; line-height:18px!important;}
.input-group-btn{width:45%;}
.navbar-collapse{    position: absolute;    right: 0;    border-radius:5px; }
.switch-box-mobile{width:100%; text-align:center;}
.switch-box-mobile img{ width:100%;}
.main_footer{ background:url(../images/footer-mobile.svg)#fff left bottom no-repeat;min-height: 845px;  background-position: 0px 126%;}

.brand{padding-top:50px;}
#com-price-site{font-size:20px;}
#login-section .card-body{padding:30px 15px;}
.loginheading{font-size:30px}
.regis-email-y{line-height:20px!important;}
.red-rounded-wave-login{background: url(../images/login-shape-bg.png) right bottom no-repeat; background-size:contain;} 

.dash-over-read{ font-size:19px;}
  
   .blue-reading-box{width:100%;}
	.blue-reading-box-inner{padding:10px!important;}
	.meter-serial-txt{font-size:18px;} 
	.reading-input-class{padding:0px!important;}
	.reading-input-class li{width:19.8%;  margin:0px 2.5% 10px 2.5%;}
	.reading-input-class li:first-child{margin-left:2.5%!important;}
	.reading-input-class li input[type="text"]{font-size:25px;}
	#enter_elec_usage,#enter_gas_usage{ min-height:auto; margin-bottom:0px;} 
	#back_from{left:-75px!important;}
		#gas_spend,#elec_spend .gas_card{height:auto;} 
			/*********************contact page*************/
	.mobile-responsive-shape{display:none;}
	
	.cs_hs_detail{margin-top:150px;}
	.cs_hs_detail p{font-size:14px; line-height:20px;}
	#cs_hs_btn{font-size:14px; padding:5px 15px; }
	.inner-mission{padding-top:320px;}
	.inner-mission h1{font-size:30px; line-height:30px;}
	.inner-mission p{font-size:18px; line-height:24px;}
	.our-mision-first{height:960px;}
	.our-vision-first p{padding-top:90px; font-size:18px; line-height:28px;}
	.our-vision-last p{padding-top:90px; font-size:18px; line-height:28px;}
			/******************Career page********************/
	
	.career_box-left{padding-top:250px;}
	.career_box-left h3{text-align:center;}
	.career-shape-two{height:800px;}
	.usage-table-tariff tr td:first-child{font-size:13px;}
	#tariff-table tr td{width:50%;}

/************************Dashboard****************/
#dash-b-mobile-menu{display:block;}
}

 @media (min-width: 768px) and (max-width: 1280px) and (orientation:portrait) {
	 
	 .career-shape-two{height:560px;}
	
	 .career_box-left{padding-top:110px;}
	 .btn-download{margin: 19px 0px 0px 33px;}
	 .our-mision-first{height:560px;}
	 .inner-mission{padding-top:160px;}
	 .usage-table-tariff tr td:first-child{font-size:13px;}
	 #tariff-table tr td{width:50%;}
	 
	 
	 
 }
 
  @media (min-width: 320px) and (max-width: 480px) and (orientation:landscape) {
	 #our-tariff-top {   background-size: contain;   background-position: 0px 205px; margin-top:-304px; padding-top:310px;}
	 
	
	 
	 
 }

@media (min-width: 1025px) and (max-width: 1250px){
.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link{font-size:12px;}
.section-why-switch .reasons .info .icon{line-height:60px; height:89px; font-size:30px;}  
.back_step .material-icons{left:-21px;}
figure.effect-sadie p{font-size:13px!important; line-height:23px!important;}

.reading-input-class{padding:0px!important;}
	/*********************contact page*************/
	.mobile-responsive-shape{display:none;}
	
	

	
	}


	
	
	
	
	
	
@media only screen and (min-device-width : 1825px) and (max-device-width : 1920px) {	
		
.three_bottom{ min-height: 418px!important;}
.main-bottom-round{padding-bottom:160px;}

}
