.StripeElement {background-color: white;padding:20px 12px 9px;border-bottom: 1px solid #ced4da;}
.StripeElement--focus {box-shadow: 0 1px 3px 0 #cfd7df;}
.StripeElement--invalid {border-color: #fa755a;}
.StripeElement--webkit-autofill {background-color: #fefde5 !important;}
.card-element{ padding-top:20px; color:#ced4da; font-size:25px; margin-bottom:40px; font-weight:500; }
.gas_card{padding:40px 80px;}
.payment-details {display: none; position: relative; width: 100%; margin-bottom: 30px;border-radius: 10px; color: rgba(0,0,0, 0.87); background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); padding:30px 20px;}
.ElementsApp, .ElementsApp .InputElement{font-size:17px;}
.pay-detail{font-size:18px; line-height:23px; float:left; width:100%; margin:5px 0px; color:#000; padding:20px;}
.pay-price {font-size: 22px;font-weight: 500;width: 100%;float: left;color: #ea495c;line-height: 35px;padding: 0 20px 20px;}
.pay-pay-now{font-size:35px; font-weight:500; width:100%; float:left; color:#000; line-height:40px; padding:20px;}
#example1-name{margin-bottom: 10px; border-bottom: 1px solid #ced4da!important; border:none;}
.StripeElement{float:left; width:100%;}

.process-tab-cs{padding-top:8px;}
.energy-process-icon{width:90px; height:auto!important;}
#active-process{color:#000;}
.days-process{color:#1cb81c; font-size:16px; font-weight:bold; width:33%; text-align:center; float:left; margin-bottom:10px; clear: both;}
.dash-over-text-green{color:#1cb81c; font-size:16px; font-weight:bold; width:100%; text-align:center; float:left; }
.dash-over-text{padding:0px 0px 15px 0px;}
.energy-main-process{padding:50px 0px; float:left; width:100%;}
.energy-process-icon{ background:#fff; padding:15px;}
.checkmark{width: 56px;height: 56px;border-radius: 50%;display: block;stroke-width: 2;stroke: #fff;stroke-miterlimit: 10;margin: 60px auto; position: relative;}
.User-number-eversmart{font-size:45px; color:#fc5462; font-weight:400;float: left;width: 100%;text-align: center; margin: 30px 0px; }
.dont-have{width:100%; float:left; text-align:center; margin:10px 0px 30px 0px;}
.dont-have a{color:#3c99e7; font-size:14px; font-weight:400;}
.main_card_box .gas_card{width:100%}
.fre-ques{float:left;font-size:20px; width:100%; margin:23px 0px 10px; color:#666; font-weight:400;}
.accordion{float:left; width:100%;}
.pay-form-db-tab{float:left; width:100%;}
.StripeElement {margin-bottom:10px;}
#example1-name::placeholder{opacity: 1;color: #aab7c4; font-weight:400; font-family: 'Quicksand', sans-serif !important;}
#card-element{position:relative;}
#card-type-icon1{position:absolute; right: 9px;top:22px;z-index:1;}
#card-type-icon1.fa-cc-visa{font-size:18px;}
.secure-pay-strip{padding: 170px 0px 10px!important;}
.left-tab-side ul li a{font-size:19px;}
.__PrivateStripeElement-input::placeholder{font-family: 'Quicksand', sans-serif !important;}
.InputElement::placeholder{font-family: 'Quicksand', sans-serif !important;}
img.img-fluid.stripe {padding-bottom: 25px;}
.card.card-raised2.card-form-horizontal.wow.fadeInUp.pay {margin-bottom: 0; border: none; box-shadow: none;}
button.red-btn.btn.btn-md.btn-eversmart.btn-round.weight-300.text-center.wow.fadeInUp.switchButton.waves-effect.waves-light.pay {font-size: 1.3rem;}
.InputElement{border-top:none;border-left:none;border-right:none;}