<div class="inner form-container">
    <ul>
        {{#each items}}
            <li class="choice">
                <header>
                    <div class="price-wrap{{#showFirstPayment this}}{{ data }}{{/showFirstPayment}}">
                        <div>
                            <div class="payment">
                                <span>{{#payment this}}{{ data }}{{/payment}}*</span>
                            </div>
                        </div>
                        <div class="tooltip-wrap">
                            <a href="#" class="tooltip-link" title="information">i</a>
                            <div class="tooltip-body-wrap">
                                <div class="tooltip-body">
                                    <div class="inner">
                                        <span class="title">Payment Breakdown</span>
                                        <ul>
                                            <li class="first-month">
                                                <span class="label">first months Payment:</span>
                                                <span class="value">{{#firstPayment this}}{{ data }}{{/firstPayment}}</span>
                                            </li>
                                            <li class="monthly">
                                                <span class="label">11 monthly payments of:</span>
                                                <span class="value">{{#payment this}}{{ data }}{{/payment}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>{{ this.ProductName }}</h4>
                    <div class="excess-wrap">
                        <h5>Excess</h5>
                        <ul>
                            <li>
                                <a href="#" class="excess-option" data-type="0">
                                    <span>&pound;0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="excess-option" data-type="50">
                                    <span>&pound;50</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="excess-option" data-type="95">
                                    <span>&pound;95</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="payment-options-wrap">
                        <h5>Payment Method</h5>
                        <ul>
                            <li>
                                <a href="#" class="payment-option" data-type="Monthly">
                                    <span class="label">Monthly</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="payment-option" data-type="Annual">
                                    <span class="label">Annual</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </header>
                <section>
                    <ul>
                        {{#each this.coverage}}
                            <li>
                                <a href="#" class="add-option{{#isIncluded this}}{{ data }}{{/isIncluded}}" data-type="{{ this.name }}">{{ this.name }}</a>
                            </li>
                        {{/each}}
                    </ul>
                    <a href="#" class="get-quote-link">Get Quote</a>
                </section>
            </li>
        {{/each}}
    </ul>
</div>
