#sponsors-hero {
    /* padding-left: 10%;
    padding-right: 10%;
    padding-top: 14px !important;
    padding-bottom: 14px !important; */
    padding: 30px 0;
}

#sponsors-hero .quoteWrap {
    display: flex;
    justify-content: center;
    padding: 14px 10%;
    width: 100%;
}
#sponsors-hero .quoteWrap blockquote {
    margin: 0;
    display: none;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

#sponsors-hero .quoteWrap blockquote.active {
    display: block;
}

#sponsors-hero .logoWrap {
    padding: 14px 25%;
    display: flex;
    width: 100%;
    height: 78px;
}

@media (max-width: 800px){
    #sponsors-hero .logoWrap {
        padding: 14px 10%;
    }
}

#sponsors-hero .pressLogo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sponsors-hero .pressLogo img {
    max-width: 100%;
    max-height: 70px;
    /* height: 70px; */
    opacity: 0.3;
    transition: opactiy 0.7s linear;
}

#sponsors-hero .pressLogo img:hover, #sponsors-hero .pressLogo.active img {
    opacity: 1;
}


#sponsors-hero>div>img {
    margin-top: 34px;
    margin-bottom: 34px;
}


.video-container video {
    top: 0%;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 300001;
}

.video-inline-overlay-text {
    top: 0%;
    color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 300001;
}


.video-overlay {
    background-color: #00000099;
    float: left;
    position: absolute;
    min-height: 100%;
    width: 100%;
    z-index: 300000;
}

.video-overlay-text {
    /* top: 25%; */
    color: #fff;
    position: absolute;
    width: 100%;
    max-width: 900px;
    height: 100%;
    /* text-align:center; */
    padding: 0 10%;
    z-index: 300001;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

.video-overlay-text h1 {
    font-size: 50px;
    text-align: left;
}

.video-overlay-text p {
    margin-bottom: 0;
}

.video-overlay-text p.subTag {
    font-size: 19px;
    margin-top: 0px;
    margin-bottom: 48px;
}

.video-overlay-text a {
    margin: 0;
    font-size: 12px;
}

.video-overlay-text .img-wrap .trustPilot {
    height: 50px;
}

.video-overlay-text .get-quote-form {
    margin: 0;
}

.full-width-video {
    height: 100vh;
    min-height: 560px;
    width: 100%;
    position: relative;
    background-color: #00000099;
}

.get-quote-form input {
    width: auto !important;
    flex-grow: 1;
} 

.mobileStill {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('/assets/images/new-world/homepage/videobg.jpg') 30% center no-repeat;
    background-size: cover;
}

video {
    /* width: 100vw;
    height: 100vh; */
    object-fit: cover;
}

/* Landing Page Main Styles */
#landing-page {
    position: relative;
    z-index: 1;
}

#landing-page .video-wrap .inner {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    border-radius: 30px;
    overflow: hidden;
}

#landing-page .video-wrap .inner iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
}

/* Video Section */
#landing-page section[data-type="video-hero"] {
    margin: 0 0;
    overflow-x: hidden;
}

#landing-page section[data-type="video-hero"] .button-wrap a {
    background: none;
    border: 1px solid #fff;
}

#landing-page section[data-type="video-hero"] iframe {
    height: 865px;
}

#landing-page section[data-type="video-hero"] .img-wrap {
    /* width: 75%; */
    display: block;
    margin-top: 48px;
    /* margin: 1em auto 0; */
    /* vertical-align: top; */
    /* border-radius: 110px; */
}

#landing-page section[data-type="video-hero"] .img-wrap img {
    max-width: 100%;
}

#landing-page section[data-type="video-hero"] .info-wrap {
    display: block;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

#landing-page section[data-type="video-hero"] .info-wrap h1 {
    color: #ea495c;
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 43px;
}

#landing-page section[data-type="video-hero"] .info-wrap p {
    display: block;
    font-weight: 500;
    margin-top: -8px;
    padding-top: 0;
}

#landing-page section[data-type="video-hero"] .info-wrap p a {
    color: #000;
    font-weight: 500;
}

#landing-page section[data-type="video-hero"] .info-wrap .button-wrap {
    display: block;
    text-align: center;
    margin-top: 25px;
}

#landing-page section[data-type="video-hero"] .info-wrap .button-wrap input {
    border: 0;
    margin: 0;
}

#landing-page section[data-type="video-hero"] .info-wrap .button-wrap a {
    margin-bottom: 5px;
}

#landing-page section[data-type="video-hero"] .info-wrap .button-wrap a:first-child {
    margin-right: 0;
}

#landing-page section[data-type="video-hero"] .info-wrap .button-wrap a:hover {
    opacity: .8;
}

/* ==========================================================================
   All Media Query Styles
   ========================================================================== */
@media only screen and (min-width: 1900px) {
    #landing-page section[data-type="video-hero"] iframe {
        height: 1100px;
    }
}

@media only screen and (min-width: 1024px) {
    #landing-page section[data-type="video-hero"] .img-wrap {
        display: inline-block;
        width: 50%;
        /* margin: 0; */
    }

    #landing-page section[data-type="video-hero"] .info-wrap {
        display: inline-block;
        width: 50%;
        margin-left: -5px;
        padding: 190px 50px 0 50px;
        text-align: left;
    }

    #landing-page section[data-type="video-hero"] .info-wrap .button-wrap {
        text-align: left;
    }

}

@media only screen and (min-width: 326px) {
    #landing-page section[data-type="video-hero"] .info-wrap .button-wrap a:first-child {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .video-overlay-text {
        padding: 0 30px;
    }
}

@media screen and (max-width: 460px), screen and (max-height: 700px) {
    .video-overlay-text>h1 {
        font-size: 32px !important;
    }

    .get-quote-form input {
        font-size: 0.8rem !important;
    }
}

@media(max-width: 320px) {
    .video-overlay-text>h1 {
        font-size: 22px !important;
    }

    .video-overlay-text .subTag {
        font-size: 16px !important;
    }

    .get-quote-form input, .get-quote-form button {
        padding: 5px 10px !important;
    }
}


@media(max-width: 1025px) {
    .full-width-video {
        bottom: 0px;
    }

    .video-overlay-text {
        /* top: 35%; */
    }
}

@media (max-width: 768px) {
    .video-overlay-text {
        /* top: 30%; */
    }
}

.hero-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}