.daynight {
  color: white;
  font-weight: 800;
}

.gold_bg:focus {
  border: none!important;
  box-shadow:  none!important;
  outline: none!important;
  background: #f2b862d6;
  top: 2px;
  position: relative;
}

.meter-img .col-sm-12.col-md-4{
  padding: 14px 13px;
}

.meter-img img{
  width: 100%;
  height: 100%;
  border-radius: 45px;
}

.meter-img img:hover{
  box-shadow: 2px 2px 6px 1px #404040;
}

.meter-help, .meter-img{
  margin-top:50px;
}

.meter-help{
  text-align: left;
  background: #62c6f2;
  padding: 30px;
  border-radius: 20px;
  width: 97%;
}

.meter-help .detail{
  margin-top: 40px;

}

.meter-images{
  width: 100%;
}

a#back_button {
  position: absolute;
  top: 40px;
  left: 30px;
  color: #ea495c;
  font-weight: bold;
}

.main-content a, a:hover{
  color: #000;
}

.main-content .meter-help-lnk{
  color: #0275d8;
}

.msg-table{
  margin-bottom: 0px;
  
}

.msg-table th{
  border-top: none;
  font-size: 22px;
  font-weight: 500;
  
}

.msg-table td {
  text-align:left;
  border-top: none;
  background-color: #f2f2f2;
 
 
 }
 .msg-table th {
  text-align:left;
 
 }
 
 .msg-table th.red_border {
  border-top: 1px solid #ea495c;
  width:150px;
 }

.table.product-table.msg-table th{
  text-align: left;
  padding-bottom: 11px;
}

.msg-table td.table-gap{
  background-color: #fff;
  padding-bottom: 2px;
}

td.datesmsg {
  border-radius: 20px 0 0 20px;
}

td.downloadPDFs {
  border-radius: 0 20px 20px 0;
}
.bill-date, .bill-title{
  line-height: 30px;
}

.bill-title{
  font-size: 17px;
}

.downloadPDFs.bill-data{
  width:130px;
}

.meter-help h4{
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 20px;
}

.floatL{
  float: left;
}

#popup-container .popup-background .popup .meter-help p, #popup-container .popup-background .popup .meter-help ul li{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.row.address .update-label {
  background: #fff;
  box-shadow: 0px 0px 1px -0.5px #000000d4;
  min-width: 65px;
  padding-top: 15px;
  margin-bottom: 20px;
  border-radius: 12px;
  padding-bottom: 10px;
  color: #f54b7c;
  font-weight: 800;
}

#MainMenu  #padz {
  padding: 10px;
  line-height: 1.3em; font-size: 15px;
}

.panel {
    padding-top: 0;
    min-height: 100%;
    background: #f5f9fc;
}
#MainMenu a.list-group-item {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 15px;
  background: #fff;
  text-align: center;
  font-weight: 800;
  color: #000;
  margin-bottom: 10px; font-size: 16px; padding: 9px 33px;
}

#faqslideout {
  top: 12%;
  border-radius: 20px 0 0 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: none;
}

#faqslideout .modal-title {
  text-align: center;
  display: block;
  width: 100%;
  color: #ea495c;
  font-weight: 800;
      font-size: 24px;
}

#faqslideout button.close {
  padding-left:  0;
  margin-left: 0;
  font-size: 42px;
  position: absolute;
  top: 13px;
  color: #ea495c;
  opacity: 1;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 0 10px 2px;
  border-radius: 8px;
}

.modal-footer{
  min-height: 80px;
}

.slideOutTab div img {
  max-height: 350px;
}

#slideOut {
  position: fixed;
  width: 400px;
  top: 130px;
  right: -400px;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

/* Display slideOut */

.showSlideOut {
  right: -1px !important;
}

/* Tab */

.slideOutTab {
  position: fixed;
  right: -23px;
  top: 33%;
  cursor:pointer;
}

.slideOutTab div {
  text-align: center;
  position: relative;
  right: 20px;
  /* top: 90px; */
  width: 53px;
  cursor: pointer;
}

#slideoutfaq {
  position: absolute;
  right: 1%;
  top: 30%;
  cursor: pointer;
  max-height: 350px;
}

#slideoutfaq img {
  max-height: 350px;
}

#slideoutfaq:hover {
  right: 1.05%;
}

.faq-contact-help, .faq-contact-icons{
  width: 100%; text-align:center; padding-top: 15px;
} 

.faq-contact-help a, .faq-contact-icons a{ 
  position:relative; font-size: 16px;;
  
}


img.logo_dash {width: 30%;height: auto;}

@media (min-width: 992px) and (max-width: 1024px){img.logo_dash{width:40%}}
@media (min-width: 768px) and (max-width: 991px){img.logo_dash{width:67%}}
@media (max-width: 767px){img.logo_dash {position: relative;left: 50px;}}

#navbarDropdownMenuLink-3-main-dashboard {
  margin-top: 0px!important;
  background: #fff;
  color: #f24983;
  font-weight: 600;
  border-radius: 20px;
  position: relative;
  top: 24%;
}

a.downloadPDF img {
  max-width: 40px;
  max-height: 40px;
  top: -10px;
  position: relative;
  padding-bottom: 0;
}
table.table.product-table.message-table {
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
td.downloadPDFs {
  width:30px;
  padding-right: 20px;
  text-align: right;
}
td.datesmsg {
  width: 25%;
  font-size: 17px;
  font-weight: 400;
  padding-bottom: 0!important;
  text-align: left;
}

td.titlesmsg {
  font-weight: 400;
  font-size: 17px;
  text-align: left;
}

.hometitle.col-sm-12 {
  font-size: 32px;
  color: #fa5268;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 15px;
}

.mesagesright {
  font-size: 22px;
  background: -moz-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(252,84,98,1)), color-stop(100%, rgba(240,70,137,1)));
  background: -webkit-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%);
  background: -o-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%);
  background: linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04689', endColorstr='#fc5462',GradientType=1 );
  color: #fff;
  padding: 20px;
}

.container.minizie {
  min-height: 700px;
}

.floatly.padding-left {
  padding-left: 7.5px;
}

.floatly.padding-right {
  padding-right: 7.5px;
}

.floatly {float:left}

.main-rounded-red-header.nofixed {
position: relative!important;
}

table.table.table-bordered.tablesorter.table-striped {
color: #000;
}

span.incd {
font-size: 17px;
display: block;
line-height: 1;
}

li.dashboard a .small-dashboard-icon {
  border-radius: 20px;
  background: #ea495c url(../images/dashboard/menu/overview-white.svg);
  background-repeat: no-repeat;
  background-size: 30px auto;
  background-position: 47% 47%;
  border: solid 1px #ea495c; 
}

ul.dashboard-menu li.dashboard:hover a .small-dashboard-icon {
  background: #fff url(../images/dashboard/menu/overview.svg);
  background-repeat: no-repeat;
  background-size: 30px auto;
  background-position: 47% 47%;
}

li.accounts a .small-dashboard-icon {
  border-radius: 60px;
  background: #ea495c url(../images/dashboard/menu/myaccount-white.svg);
  background-repeat: no-repeat;
  background-size: 37px auto;
  background-position: 47% 47%;
  border: solid 1px #ea495c;
}

ul.dashboard-menu li.accounts:hover a .small-dashboard-icon {
  
  background: #fff url(../images/dashboard/menu/myaccount.svg);
  background-repeat: no-repeat;
  background-size: 37px auto;
  background-position: 47% 47%;
}

li.meter_reading a .small-dashboard-icon {
  border-radius: 60px;
  background: #ea495c url(../images/dashboard/menu/meterreading-white.svg);
  background-repeat: no-repeat;
  background-size: 37px auto;
  background-position: 49% 49%;
  border: solid 1px #ea495c;
} 

ul.dashboard-menu li.meter_reading:hover a .small-dashboard-icon {
  background: #fff url(../images/dashboard/menu/meterreading.svg);
  background-repeat: no-repeat;
  background-size: 37px auto;
  background-position: 49% 49%;
}

li.payments a .small-dashboard-icon {
  border-radius: 60px;
  background: #ea495c url(../images/dashboard/menu/payments-white.svg);
  background-repeat: no-repeat;
  background-size: 34px auto;
  background-position: center center;
  border: solid 1px #ea495c;
} 

ul.dashboard-menu li.payments:hover a .small-dashboard-icon {
  background: #fff url(../images/dashboard/menu/payments.svg);
  background-repeat: no-repeat;
  background-size: 34px auto;
  background-position: center center;
}

li.billing a .small-dashboard-icon {
  border-radius: 60px;
  background: #ea495c url(../images/dashboard/menu/billing-white.svg);
  background-repeat: no-repeat;
  background-size: 30px auto;
  background-position: 42% center;
  border: solid 1px #ea495c;
} 

ul.dashboard-menu li.billing:hover a .small-dashboard-icon {
  background: #fff url(../images/dashboard/menu/billing.svg);
  background-repeat: no-repeat;
  background-size: 30px auto;
  background-position: 42% center;
}

li.moving_home a .small-dashboard-icon {
  border-radius: 60px;
  background: #ea495c url(../images/dashboard/menu/movehome-white.svg);
  background-repeat: no-repeat;
  background-size: 30px auto;
  background-position: 47% 47%;
  border: solid 1px #ea495c;
} 

ul.dashboard-menu li.moving_home:hover a .small-dashboard-icon {
  background: #fff url(../images/dashboard/menu/movehome.svg);
  background-repeat: no-repeat;
  background-size: 30px auto;
  background-position: 47% 47%;
}

li.usage a .small-dashboard-icon {
  border-radius: 60px;
  background: #ea495c url(../images/dashboard/menu/usage-white.svg);
  background-repeat: no-repeat;
  background-size: 30px auto;
  background-position: center center;
  border: solid 1px #ea495c;
} 

ul.dashboard-menu li.usage:hover a .small-dashboard-icon {
  background: #fff url(../images/dashboard/menu/usage.svg);
  background-repeat: no-repeat;
  background-size: 30px auto;
  background-position: center center;
}

li.referral a .small-dashboard-icon {
  border-radius: 60px;
  background: #ea495c url(../images/dashboard/menu/refer-white.svg);
  background-repeat: no-repeat;
  background-size: 37px auto;
  background-position: 49% 40%;
  border: solid 1px #ea495c;
} 

ul.dashboard-menu li.referral:hover a .small-dashboard-icon {
  background: #fff url(../images/dashboard/menu/refer.svg);
  background-repeat: no-repeat;
  background-size: 37px auto;
  background-position: 49% 40%;
}

li.communications a .small-dashboard-icon {
  border-radius: 60px;
  background: #ea495c url(../images/dashboard/menu/message-white.svg);
  background-repeat: no-repeat;
  background-size: 30px auto;
  background-position: center center;
  border: solid 1px #ea495c;
} 

ul.dashboard-menu li.communications:hover a .small-dashboard-icon {
  background: #fff url(../images/dashboard/menu/message.svg);
  background-repeat: no-repeat;
  background-size: 30px auto;
  background-position: center center;
}

li.dashboard.actiove-link  a .small-dashboard-icon {
  background: #fff url(../images/dashboard/menu/overview.svg);
  background-repeat: no-repeat;
  background-size: 30px auto;
  background-position: 47% 47%;
}

li.accounts.actiove-link  a .small-dashboard-icon {
  background: #fff url(../images/dashboard/menu/myaccount.svg);
  background-repeat: no-repeat;
  background-size: 37px auto;
  background-position: 47% 47%;
}

li.meter_reading.actiove-link  a .small-dashboard-icon {
  background: #fff url(../images/dashboard/menu/meterreading.svg);
  background-repeat: no-repeat;
  background-size: 37px auto;
  background-position: 49% 49%;
}

li.payments.actiove-link  a .small-dashboard-icon {
  background: #fff url(../images/dashboard/menu/payments.svg);
  background-repeat: no-repeat;
  background-size: 34px auto;
  background-position: center center;
}

li.billing.actiove-link  a .small-dashboard-icon {
  background: #fff url(../images/dashboard/menu/billing.svg);
  background-repeat: no-repeat;
  background-size: 30px auto;
  background-position: 42% center;
}

li.moving_home.actiove-link  a .small-dashboard-icon {
  background: #fff url(../images/dashboard/menu/movehome.svg);
  background-repeat: no-repeat;
  background-size: 30px auto;
  background-position: 47% 47%;
}

li.usage.actiove-link  a .small-dashboard-icon {
  background: #fff url(../images/dashboard/menu/usage.svg);
  background-repeat: no-repeat;
  background-size: 30px auto;
  background-position: center center;
}

li.referral.actiove-link  a .small-dashboard-icon {
  background: #fff url(../images/dashboard/menu/refer.svg);
  background-repeat: no-repeat;
  background-size: 37px auto;
  background-position: 49% 40%;
}

li.communications.actiove-link  a .small-dashboard-icon {
  background: #fff url(../images/dashboard/menu/message.svg);
  background-repeat: no-repeat;
  background-size: 30px auto;
  background-position: center center;
}
.actiove-link {
  background-color: #ea495c;
}
.actiove-link a {
color: #fff!important;
}

ul.dashboard-menu li {background-repeat: no-repeat;cursor:pointer;box-shadow: 0px 0px 1px -0.5px #000000d4;transition: opacity .3s ease-in-out;}
ul.dashboard-menu li a {color: #ea495c;display: block;font-size: 17px;text-align: center;width: 100%;line-height: 3.6;font-weight: 800;}

ul.dashboard-menu li:hover {background: -moz-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%);background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(252,84,98,1)), color-stop(100%, rgba(240,70,137,1)));background: -webkit-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%);background: -o-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%);background: -ms-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%);background: linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04689', endColorstr='#fc5462',GradientType=1 );background-repeat: no-repeat;transition: opacity .3s ease-in-out;}

ul.dashboard-menu li:hover a {color:#fff;}

ul.dashboard-menu li#actiove-link a {
color: #fff;
}

.large-screen-fix.dashboardss {margin-top: 38px;}


.rewardbtndiv {
margin: 30px auto 20px;
max-width: 365px;
}

.getthis {
width: 100%;
}

.refer-header h2 {
font-size: 45px;
margin-bottom: 20px;
}

#responsecash {visibility: hidden;opacity: 1;transition: opacity .25s ease-in-out;-moz-transition: opacity .25s ease-in-out;-webkit-transition: opacity .25s ease-in-out;}

#responsecashnotice {
text-align: center;
margin-top: -17px;
top: 7px;
position: relative;
}

.cashoutlink {
width: 100%;
opacity: 1;
transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;
}

input#myshare {border: none;position: relative;right: 18px; cursor: pointer;}

.switch_icon_dashboard img.line-graph {
height: 200px;
margin-top: -47px;
}

span.dash-over-text.energytitle {
margin-top: -43px;
}

.withe-icon-link-dash img.refwhiteicon {
height: 32px;
margin-left: 10px;
margin-top: 8px;
}

.small-dashboard-icon img.reficon {
height: 32px;
margin-left: 2px;
margin-top: 8px;
}

p.accnum {
color: #fff;
float: left;
margin-left: 18px;
}

@keyframes blink {50% { color: transparent }}
.loader__dot { animation: 1s blink infinite }
.loader__dot:nth-child(2) { animation-delay: 250ms }
.loader__dot:nth-child(3) { animation-delay: 500ms }
.refer-header p {font-size: 19px;line-height: 1.4;margin-bottom: 30px;text-align: center; font-weight: 450; color: grey;}
.referlink {
position: relative;
display: flex;
flex-direction: row;
-webkit-box-align: center;
align-items: center;
background-color: rgb(255, 255, 255);
color: rgb(0, 51, 102);
height: 59px;
border-radius: 0.3rem;
margin: 2.5rem auto 2.5rem auto;
padding: 0px 1rem;
font-size: 20px;
text-align: center;
/* max-width: 500px; */
}
.loadercash {text-align: center;margin-top: -18px;top: -34px;position: relative;font-size: 20px;font-weight: 600;}

i.fa.fa-link.fa-rotate-90 {
font-size: 32px;
margin-right: 20px;
}
button.getlinks {
float: right;
position: absolute;
right: 19px;
background: transparent;
border: none;
cursor: pointer;
}

.share-tip{
  width: 100%;
  text-align: center;
}

#share-tip-s {
  display: none;
  font-size: 20px;
  font-weight: 400;
  
}

.sharelinkss {margin-bottom: 35px;text-align: center;margin-top: 40px;}
.row.refer-tabbed-content h2 {font-size: 60px;margin-bottom: 80px;text-align: center;color: #ea495c;margin-top: 30px;}
.sharelinkss .share {
display: inline-block;
width: 32%;
}
.sharelinkss .share {
font-size: 2rem;
width: 59px;
height: 59px;
vertical-align: -0.25rem;
color: #fff;
text-align: center;
font-weight: bold;
display: inline-block;
outline: none;
border-width: 0px;
border-style: initial;
border-color: initial;
border-image: initial;
border-radius: 0.3rem !important;
padding: 1rem 0.5rem !important;
margin-right: 3px;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-animation-timing-function: ease-in-out;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
-webkit-animation-iteration-count:infinite;
}
.share.emaillink:hover, .share.emailinks:focus {animation-name: bounce;-moz-animation-name: bounce;}

.main-body-block-refer img {
width: 210px;
max-width: 100%;
text-align: center;
margin-bottom: 25px;
}



.imgblock {text-align:center;background: #fff;}

@media (min-width: 768px){
  .col-md-4.imgblock {max-width: 32%;margin-top: 28px;}
  .col-md-4.imgblock.midz {margin: 28px 17.5px 0;}
}

@media (min-width: 1025px) and (max-width: 1500px){
  .col-md-4.imgblock {
  max-width: 32%;
  margin-top: 28px;
  flex: 0 0 31.333333%;
  max-width: 31.333333%;
  }
}

@media (min-width: 1025px) and (max-width: 1500px){
  #navbarDropdownMenuLink-3-main-dashboard {top: 13%;}
}

.share.twitterllink {cursor: pointer;}
.share.twitterllink:hover, .share.twitterllink:focus {animation-name: bounce;-moz-animation-name: bounce;}

.share.facebooklink:hover, .share.facebooklink:focus {position: relative;animation-name: bounce;-moz-animation-name: bounce;}

.share.facebooklink {cursor:pointer;}


.share.emaillink {cursor: pointer;}
.row.main-body-block-refer {padding: 20px 0;border-radius: 7px;margin: 3px 15px 25px;text-align: center;}
.main-body-block-refer h2 {font-size: 42px;margin-bottom: 20px;color: #ea495c;}

#responsecashnotice {display:none;}
.row.main-body-block-refer p {font-size: 19px;line-height: 1.4;color: #000;}
.row.refer-tabbed-content {padding: 0px 0;border-radius: 7px;margin: 3px 0px 25px;}
.refer-tabbed-content-titles {
font-size: 23px;
text-align: center;

padding: 24% 0%;
}

.invitessent, .curwsitching, .completeref {font-size: 60px;text-align: center;}

.findoutmorelink, .cashoutlink {background: -moz-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%)!important;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(252,84,98,1)), color-stop(100%, rgba(240,70,137,1)))!important;
  background: -webkit-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%)!important;
  background: -o-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%)!important;
  background: -ms-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%)!important;
  background: linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%)!important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04689', endColorstr='#fc5462',GradientType=1 )!important;
  padding:10px 35px;color:#fff;border-radius:30px;font-weight:400;font-size:18px}

.findoutmorelink:hover, .cashoutlink:hover, 
.findoutmorelink:focus, .cashoutlink:focus{box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);}

label[for=tab2] {
margin: 0 13px;
}

.rewardsbox {background-color: rgb(255, 255, 255);color: #000;margin: -16px 0px;border-radius: 0.3rem;padding: 1.5em 2.02729rem;}
.rewardsbox h2, .ref-title h2 {font-size: 16px;color: #000;font-weight: 500;padding-bottom: 25px;}
h2.spacetop {padding-top: 11px;text-align: center;color: #ea495c;}
.lastthirtydays, .totalrewards {text-align: center;margin-bottom: 50px;margin-top: 25px;}
.tab-frame {
width: 100%;
}

.lastthirtydays, .totalrewardsamount {
font-size: 60px;
}

div.tab-frame input{ display:none;}
div.tab-frame label {display: inline-block;padding: 25px 10px;cursor: pointer;width: 32%;background: #fff;}
div.tab-frame input:checked + label {background: -moz-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%);background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(252,84,98,1)), color-stop(100%, rgba(240,70,137,1)));background: -webkit-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%);background: -o-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%);background: -ms-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%);background: linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04689', endColorstr='#fc5462',GradientType=1 );color: white;cursor: default;}

.refertext {text-align: center;padding: 30px 0;font-size: 20px;line-height: 1.5;}

div.tab-frame div.tab{display:none;padding:5px 10px;clear:left;background: #fff;margin-top: 25px;}

div.tab-frame input:nth-of-type(1):checked ~ .tab:nth-of-type(1),
div.tab-frame input:nth-of-type(2):checked ~ .tab:nth-of-type(2),
div.tab-frame input:nth-of-type(3):checked ~ .tab:nth-of-type(3){ display:block;}

.dropdown-item.active, .dropdown-item:active{background-color: #f8f9fa!important;}

#dash-b-mobile-menu{display:none;}
#gas-meter-reading:focus{box-shadow:none;}
.reading-input-class{float:left;width:100%;margin-top:5px;padding: 0 0px 0px 15px;}
.reading-input-class li{display:inline;float: left;margin-left: 2px;/* padding: 0px 0px; */margin: 0px  1%;list-style:none;width: 10.3%;}
.reading-input-class li input[type="text"]{ text-align:center; font-size:28px; font-weight:400; color:#6d6d6d; padding:7px 0px; border-radius:0!important;}

.main-rounded-red-header {
position: fixed;
}

#my-energy-pd{margin-top:0px; padding-bottom:245px;} 
#my-energy-pd .bolier_home-h-l{margin-top:10px;}
.termandconditions{margin-top: 0;}
.dash-over-text{width:100%;color:#ea495c;font-size:25px;/* line-height:35px; */float:left;top: -19px;font-weight:500;padding-top:22px;padding-bottom:6px;position: relative;}
.dashboard-menu{ float:left; width:100%; margin:30px 0px 0px 0px; padding:0;}
.dashboard-menu li{list-style:none;width:100%;margin:10px 0px;float:left;border-radius: 20px;height: 65px;}
.dashboard-menu li:first-child{margin-top:0;} 
.dashboard-menu li a{float:left;width:100%;}
.dashboard-menu li a:hover{ color:#fff; text-decoration: none;}
.switch_icon_dashboard{ width:100%; float:left;} 
.switch_icon_dashboard img{width:auto;height: 90px;}
.gap_icon_dashboard{padding:10px 0px; text-align:center;}


.small-dashboard-icon{background: #fff;border-radius: 20px!important;background-repeat: no-repeat;height: 65px;width: 65px;border-radius: 20px;position: absolute;text-align:center;border-left: 1px solid rgba(0, 0, 0, 0.14);border-right: 1px solid rgba(0, 0, 0, 0.14);left: -1px;border-top: 1px solid #b5b8ba;}
.small-dashboard-icon img{ height:50px; width:auto;}


.withe-icon-link-dash{display:none; width:100%; float:left; padding:0px 0px 0px 2px;}
.withe-icon-link-dash img{height:50px; width: auto; float:left}
.dashboard-menu li:hover{ background:#ea495c;}
.dashboard-menu li:hover .withe-icon-link-dash{display:block;}
.d-white-link{color:#fff; font-size:13px; padding:16px 0px 0px 0px; font-weight:500; float:left}
#actiove-link .withe-icon-link-dash{display:block}
#actiove-link .small-dashboard-icon{/* display:none; */}
#actiove-link{ background:#ea495c}
.faq-round{background: -moz-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%);background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(252,84,98,1)), color-stop(100%, rgba(240,70,137,1)));background: -webkit-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%);background: -o-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%);background: -ms-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%);background: linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04689', endColorstr='#fc5462',GradientType=1 );padding:20px 0px;width:60px;height:60px;border-radius:50%;color:#fff;font-size: 20px;margin-top:30px;position: fixed;right: 5%;}
.move-home-can{ color:#6e6e6e; font-weight:500; font-size:26px; line-height:35px; text-align:center; float:left; width:100%;}
.move-home-point{float:left; width:100%; margin-top:50px;}
.move-home-point p{  line-height:30px;padding:5px 0px; font-size:18px; float:left; width:100%; text-align:left; color:#6e6e6e; margin:6px 0px; font-weight:500;}
.mov-p{color:#ea495c; width:30px; height:30px; border:1px solid #ea495c; border-radius:50%; font-size:20px; float:left; margin-right:20px;text-align:center; line-height: 27px;}
.get-started-btn-c{ width:100%; text-align:center; float:left; margin:55px 0px 15px 0px;}
.get-started-btn-c a{ background:#ea495c; padding:10px 35px; color:#fff; border-radius:18px; font-weight:400; font-size:18px;}

.get-started-btn-c-btn{ background:#ea495c; padding:10px 35px; color:#fff; border-radius:18px; font-weight:400; font-size:18px; border:none; margin-top:25px;}

.cancel-c-p{float:left; width:100%; text-align:center; padding:30px 0px 0px;}
.usage-table th{ border-top:none!important; color:#ea495c;font-size:20px; font-weight:400;}
.meter-reading-c-p{width:100%; text-align:center; font-size:22px; font-weight:500; color:#ea495c; float:left; margin-bottom:30px;}
.icon-b-c-p img{width:35px; height:auto; margin-left:12px;margin-bottom:12px;}
.usage-table-tariff tr td{ border:none!important}
.usage-table-tariff tr td:first-child{ color:#ea495c; font-weight:500; font-size:17px;}
.usage-table-tariff td{color:dimgray}
.tariff-h-c-p{ float:left; width:100%; text-align:center;font-weight:500; font-size:16px;margin:30px 0;}
.tariff-bill-down{float:left; width:100%; text-align:center; margin:18px 0px;}
.tariff-bill-down a{
  background: -moz-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%)!important;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(252,84,98,1)), color-stop(100%, rgba(240,70,137,1)))!important;
  background: -webkit-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%)!important;
  background: -o-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%)!important;
  background: -ms-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%)!important;
  background: linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%)!important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04689', endColorstr='#fc5462',GradientType=1 )!important;
  padding:10px 35px;color:#fff;border-radius:30px;font-weight:400;font-size:18px;}
.tariff-bill-down a:hover{
  color: #fff;
}
.pay-c-p{ float:left; width:100%; }
.payment-price-pay{width:100%;font-size:50px;line-height:60px;font-weight:400;}
p.painon {
padding-top: 41px;
margin-bottom: 87px;
color: #000;
font-size: 16px;
font-weight: 400;
}
.in-de{font-size:20px;}
.pay-y-cp-b{ float:left; width:100%; text-align:center; margin:25px 0px 50px; color:#000; font-size:16px;font-weight:400; padding:0px 11px}
.pay-y-cp-b-l{float:left;width:100%;text-align:center;margin: 25px 0px 25px;padding:0 30px;color:#000;font-size:16px;font-weight:400;line-height: 1.5}
.ref-text{float:left;width:100%;text-align:center;margin: 0px;padding:0 30px;color:#000;font-size:16px;font-weight:400;line-height: 1.5}
.int-fix{padding-bottom: 55px}
.dash-over-text-blue{float:left;width:100%;text-align:center;color:#6e6e6e;font-size:22px;padding:15px 0px;font-weight:400;line-height: 1.7;}
.dash-over-read{float:left;width:100%;text-align:center;color:#444;font-size:26px;padding: 4px 0px;font-weight:400;letter-spacing:2px;}
.light-grey{color:#aaa;}
.white-border{border:2px solid #fff;}
.white-blue{border:2px solid #62c6f2;}

.meter-re-h{ float:left; width:100%; font-size:30px; line-height:40px;  color:#666;}
.meter-re-h-s { float:left; width:100%; font-size:20px; margin:30px 0px; font-weight:500; color:#808080;}
.blue-reading-box{width: 100%;clear:both;}
.blue-reading-box-inner{width: 100%;float:left;background:#62c6f2;margin-top:20px;border-radius:20px;}
.reading-input{margin:10px 0px; padding:0px; float:left; width:100%;}
.reading-input li{display:inline; float:left; width:14%; margin-right:3.2%;  color:#808080; font-weight:500; padding:28px 0px; border:none; font-size:30px; background:#fff;}
.reading-input li:last-child{margin-right:0;}
.meter-serial-txt{width:100%; float:left; color:#fff; font-size:23px; font-weight:400; line-height:33px; margin:10px 0px;}
.w-elec-icon img{ width:40px; height: auto;}
.w-elec-icon{padding-top:20px; float:left; width:100%;}
.grey-meter{/*color:#ededed !important;*/ font-size:20px!important; }
.grey-meter img{ width:40px; height:auto; margin-top:-3px!important;}
.blue-t-h{ color:#62c6f2!important;}
.reading-submit{ background:#62c6f2; padding:15px 38px; color:#fff; font-size:16px; border:none; border-radius:20px; margin-top:25px;cursor: pointer;}
.billng-time-meter{ width:100%; float:left; text-align:center; padding:10px 0px; color:#939393; font-size:22px;}
.white-gold{ border:2px solid #f2b862!important;}
.gold_bg{background:#f2b862;}
.gold-t-h{ color:#f2b862!important;}
.progress-bar-step{ width:100%; float:left; }
.progress-bar-step ul{ background:url(../images/dashboard/process-bar-step.png) center 42px no-repeat; margin:0px; padding:0px; float:left; width:100%;}
.progress-bar-step ul li{list-style:none; display:inline;  float:left; width:33.3%;}
.progress-bar-step li img{width:90px; height:auto; background:#fff; padding:15px;}
.process-tab-cs{float:right; width:33%; color:#6e6e6e; font-weight:500; font-size:14px; text-align: left; margin-top: -15px;}
#fix-process-center{width:69%; padding-right:47px;}
#last-finish{padding-right:21px;}
.fw500{font-weight:500;}
.gj-datepicker-bootstrap [role="right-icon"] button{width:100%!important;  position:absolute!important; left:0; box-shadow:none!important; left: -6px; top:-5px; height:42px; border:none!important;}
.gj-datepicker-bootstrap [role="right-icon"] button .gj-icon, .gj-datepicker-bootstrap [role="right-icon"] button .material-icons{font-size:32px!important; color:#d1d1d1!important;}
.move-date-picker{border-bottom:1px solid #d8d8d8!important; border:none!important; padding-left: 65px !important;font-weight: 500;}
.tenant-move{ float: left;width: 100%;text-align: center;font-size: 20px;line-height: 4;}
#move-blue-box{width:100%;}
.blue-box-top-c{float:left; width:100%; padding:35px 0px 15px;}
.blue-box-top-c .meter-re-h-s{ margin:8px 0px!important; font-size:20px;}
.back-step-m-h{float:left; width:100%; color:#6e6e6e; font-size:18px; padding-top:55px; padding-left:40px;}
.green-sucess{ font-size: 40px; color:#1cb81c; text-align:center; width:100%; padding:15px 0px; font-weight:400;}
.sucess-detail{ color:#6e6e6e; width:100%; float:left; margin:20px 0px; font-size:20px; line-height:30px;}
.righ-padd{padding-right:15px;  width:25px; text-align:center;}
.easyimgicon-footer {
width: 20px;
height: auto;
margin-top: -11px;
}

.mobile-side-bar-menu{display:none; float:left;text-align:center; margin:0px 0px 35px 0px; color:#f5f9fc; }
.mobile-side-bar-menu .dropdown{padding:0;}
.mobile-side-bar-menu #navbarDropdownMenuLink-3{}
.mobile-side-bar-menu #navbarDropdownMenuLink-3 img{border:2px solid #ea495c; font-weight:500; border-radius:8px; font-size:16px; padding:12px 10px;}
.mobile-side-bar-menu #navbarDropdownMenuLink-3{color:#f5f9fc;}


.pen .navbar-toggle {
border: none;
background: transparent !important;
}

.pen .navbar-toggle:hover {
background: transparent !important;
}

.pen .navbar-toggle .icon-bar {
width: 22px;
-webkit-transition: all 0.2s;
transition: all 0.2s;
}

/* ANIMATED X */
.navbar-toggle.x .icon-bar:nth-of-type(1) {
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
-webkit-transform-origin: 10% 10%;
-ms-transform-origin: 10% 10%;
transform-origin: 10% 10%;
}

.navbar-toggle.x .icon-bar:nth-of-type(2) {
opacity: 0;
filter: alpha(opacity=0);
}

.navbar-toggle.x .icon-bar:nth-of-type(3) {
-webkit-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
-webkit-transform-origin: 10% 90%;
-ms-transform-origin: 10% 90%;
transform-origin: 10% 90%;
}

/* ANIMATED X COLLAPSED */
.navbar-toggle.x.collapsed .icon-bar:nth-of-type(1) {
-webkit-transform: rotate(0);
-ms-transform: rotate(0);
transform: rotate(0);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(2) {
opacity: 1;
filter: alpha(opacity=100);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(3) {
-webkit-transform: rotate(0);
-ms-transform: rotate(0);
transform: rotate(0);
}
/* END ANIMATED X */

/*#energy-step-1{background:url(../images/step0.png) center center no-repeat; background-size: auto 2px;}*/
#energy-step-2{background:url(../images/step2.png) center center no-repeat; background-size: auto 3px;}
#energy-step-3{background:url(../images/step1.png) center center no-repeat; background-size: auto 3px;}
#energy-step-4{background:url(../images/step3.png) center center no-repeat; background-size: auto 3px;}
.meter-book{float:left; width:100%; text-align:center; margin-top:30px;}

.book-meter-btn{background: -moz-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(252,84,98,1)), color-stop(100%, rgba(240,70,137,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%); /* ie10+ */
background: linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04689', endColorstr='#fc5462',GradientType=1 ); /* ie6-9 */ 
color:#fff; font-size:18px; padding:10px 45px; border-radius:21px;} 
.book-meter-btn:hover{color:#fff;}

.book-meter-btn-no{ font-size:18px;color:#fc5462;  padding:8px 20px; border-radius:21px; border:1px solid #fc5462;}
.book-meter-btn-no:hover{background: -moz-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(252,84,98,1)), color-stop(100%, rgba(240,70,137,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%); /* ie10+ */
background: linear-gradient(45deg, rgba(252,84,98,1) 0%, rgba(240,70,137,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04689', endColorstr='#fc5462',GradientType=1 ); /* ie6-9 */ 
color:#fff;}

.row.amend {
padding-top: 90px;
}

.row.button {display: inline-block;}

/*********************Responsive CSS****************************/

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)  { 
.progress-bar-step li img{width:60px; padding:8px;}
.progress-bar-step ul {background: url(../images/dashboard/process-bar-step.png) center 30px no-repeat;}
.process-tab-cs{font-size:12px;}
#fix-process-center{padding-right:0;}
#last-finish{text-align:center; padding-right:0px; padding-left:12px;}
.get-started-btn-c{text-align:center!important;}
.mobile-side-bar-menu{display:block;}
.desk-menu-dashboard ul.dashboard-menu{display:none;}
.dash-over-read{ font-size:19px;}

.blue-reading-box{width:100%;}
.blue-reading-box-inner{padding:10px!important;}
.meter-serial-txt{font-size:18px;}
.reading-input-class{padding:0px!important;}
.reading-input-class li{width:19.8%;  margin:0px 2.5% 10px 2.5%;}

.reading-input-class li input[type="text"]{font-size:25px;}
#dash-b-mobile-menu{ background:#f9506c; border-radius:8px; margin-bottom: 22px !important;float: left; display:block;} 
#dash-b-mobile-menu .navbar-toggler{position:relative; top:0; right:0;  width:100%; text-align:left;}
.mr-menu{ color: #fff;font-size: 16px;padding-top: 6px;float: left;}
.mob-res-top{float:left; width:88%;}
#dash-b-mobile-menu .navbar-collapse{width:100%; top:43px; z-index:22;}
.gas_card{/* z-index:-2; */}
#dash-b-mobile-menu .show ul{padding:0px 0px ; border:none; box-shadow:none; background:none;}
#dash-b-mobile-menu .dropdown-item{padding: 9px ;}
#dash-b-mobile-menu #navbarSupportedContent-5{background:#fefdfd; border-radius:0px 0px 11px 11px ; border:.1em solid #f9506c}
.termandconditions{margin-top:0px;}

}

@media (min-width : 1920px) 
and (max-width : 2120px)  {
.container-fluid{width:90%!important;}
.large-screen-fix{width: 90%;margin: 0 auto;}
.dashboard-menu li{margin: 7.5px 0px!important;}
.d-white-link{font-size: 22px;padding: 17px 0px 0px 15px;}
.dashboard-menu{ width:100%;}  

.reading-input-class{float:left;width:100%;margin-top:5px;/* padding:0 15px; */}
.reading-input-class li{display:inline;float: left;/* margin:0px 10px; */list-style:none;width: 10.6%;}

}



/*********************Responsive CSS****************************/

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)  { 
.progress-bar-step li img{width:60px; padding:8px;}
.progress-bar-step ul {background: url(../images/dashboard/process-bar-step.png) center 30px no-repeat;}
.process-tab-cs{font-size:12px;}
#fix-process-center{padding-right:0;}
#last-finish{text-align:center; padding-right:0px; padding-left:12px;}
.get-started-btn-c{text-align:center!important;}


}






body{font-family: 'Quicksand', sans-serif!important; }
#redd-btn-pc{padding:18px 29px!important}

.loading-page {
margin: 24% auto;
width: 100px
}

.loader {
border: 8px solid #fda1b8;
border-radius: 50%;
border-top: 8px solid #f64d76;
width: 90px;
height: 90px;
-webkit-animation: spin 2s linear infinite; /* Safari */
animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

#nav-box-navi .dash-over-text{font-weight:500; font-size:18px;}

#gas-meter-reading:focus{box-shadow:none;}
.reading-input-class{float:left;width:100%;margin-top:5px;/* padding:0 15px 0px 28px */}
.reading-input-class li{display:inline;float: left;/* margin:0px 6px; */list-style:none;/* width:10.1%; */}
.reading-input-class li input[type="text"]{ text-align:center; font-size:30px; font-weight:400; color:#6d6d6d; padding:4px 0px; border-radius:0!important;}
.responsive-side-menu{display:none;}
















/*******************Responsive***********************/
@media (min-width: 320px) and (max-width: 480px){

.tariff-bill-down a{padding: 10px 22px; font-size:13px;}  
.dash-over-read{ font-size:19px;}
.meter-re-h-s{line-height:28px;}
.blue-reading-box{width:100%;}
.blue-reading-box-inner{padding:10px;}
.meter-serial-txt{font-size:18px;}
.reading-input-class{padding:0px;}
.reading-input-class li{width:19.8%;  margin:0px 2.5% 10px 2.5%;}

.reading-input-class li input[type="text"]{font-size:25px;}
.responsive-side-menu{display:block;}
.dashboard-menu {display:none;}
}

@media (min-width: 481px) and (max-width: 767px)
{ 
.dash-over-read{ font-size:19px;}
.meter-re-h-s{line-height:28px;}
.blue-reading-box{width:100%;}
.blue-reading-box-inner{padding:10px;}
.meter-serial-txt{font-size:18px;}
.reading-input-class{padding:0px;}
.reading-input-class li{width: 7.6%;margin:0px 2.5% 10px 2.5%;}
.reading-input-class li:first-child{margin-left:2.5%!important;}
.reading-input-class li input[type="text"]{font-size:25px;}
.responsive-side-menu{display:block;}
.dashboard-menu{display:none;}
.responsive-side-menu{margin:40px 0px 30px 0px!important;}
}

@media (min-width: 768px) and (max-width: 1024px)
{
.dash-over-read{ font-size:19px;}

.blue-reading-box{width:100%;}
.blue-reading-box-inner{padding:10px;}
.meter-serial-txt{font-size:18px;}
.reading-input-class{padding:0px;}
.reading-input-class li{width: 7.4%;margin: 0px 2.5% 0px 2.5%;}
.reading-input-class li:first-child{margin-left:2.5%!important;}
.reading-input-class li input[type="text"]{font-size:25px;}
.usage-table-tariff tr td:first-child{font-size:12px; width:65%!important;}
.dashboard-menu {display:none;}
.responsive-side-menu{display:block; margin:20px 0px 25px!important;}
.d-white-link{font-size:11px;}
.dashboard-menu{display:none;}
#navbarDropdownMenuLink-3-main-dashboard{font-size:13px;}
.product-code-no-d{font-size:12px;}
}

@media(max-width: 1433px) {
  .half { width: 100%!important; }
}
/****************************Portal shape fix css*************/
/* Large devices (large desktops, 1400px and up) */
@media(min-width: 1800px) {
#my-energy-pd{padding-bottom:260px;}
}

@media(min-width: 1900px) {
#my-energy-pd{padding-bottom:350px;}
}


@media(min-width: 2400px) {
#my-energy-pd{padding-bottom:500px;}
.mov-step-2-f{text-align:center!important;}
#fix-process-center{width:100%!important; padding-right:0px!important;}
.last-home-finish{text-align:center!important;}
#last-finish{padding-right:0px!important}
.reading-input-class li{width:11.3%!important}
}

@media(min-width: 3500px) {
#my-energy-pd{padding-bottom:900px;}

}

@media(min-width: 4000px) {
#my-energy-pd{padding-bottom:1100px;}
}



/***********************Sidemenu**********************/

.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #ea495c;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px; z-index:100;
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 20px;
color: #fff;
display: block;
transition: 0.3s;
}

.sidenav a:hover {
color: #ea495c;
background:#fff;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 45px;
margin-left: 50px;
}
.closebtn:hover{color:#fff!important; background:none!important;}
.responsive-side-menu{color:#ea495c; font-size: 18px; width:100%; background:#ea495c; color:#fff;font-weight: 500; padding:12px 5px; border-radius:5px;}
.responsive-side-menu{margin: 0px 0px 25px; float:left;}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}


@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1366px) 
and (-webkit-min-device-pixel-ratio: 1.5) {


.d-white-link{font-size:11px;}

}

#navbarDropdownMenuLink-3-main-dashboard{    margin-top: 19px!important;   font-size: 18px;
    padding:1px 18px 4px 17px; margin-right:13px;
    float: right;}
	
.fa-caret-down:before{padding-left:5px!important;}

#nav-box-navi .dash-over-text{font-weight:500;font-size: 26px;}

#gas-meter-reading:focus{box-shadow:none;}
.reading-input-class{float:left;width: 100%;margin-top:5px;/* padding:0 15px 0px 28px; */}
.reading-input-class li{display:inline;float: left;/* margin:0px 6px; */list-style:none;/* width:10.1%; */}
.reading-input-class li input[type="text"]{text-align:center;font-size:30px;font-weight:400;color:#6d6d6d;padding: 0px 0px;border-radius:0!important;}


.showhidetabs .nav-t {margin-left: 0;list-style: none;padding: 0;}
.showhidetabs .nav-t > li > a { display: block; }
.showhidetabs .nav-tabs { *zoom: 1; }
.showhidetabs .nav-tabs:before, .showhidetabs .nav-tabs:after { display: table; content: ""; }
.showhidetabs .nav-tabs:after { clear: both; }
.showhidetabs .nav-tabs > li {/* float: left; */display: inline-block;margin: auto;width: 32%;text-align: center;}
.showhidetabs .nav-tabs > li > a { padding-right: 1rem; padding-left: 1rem; margin-right: 0.1rem; line-height: 1rem; }
.showhidetabs .nav-tabs {border-bottom: none;margin-top: 45px;}
.showhidetabs .nav-tabs > li { margin-bottom: -1px; }
.showhidetabs .nav-tabs > li > a {line-height: 1.25rem;background-color: #62c6f2;border: none;color: #fff;font-weight: 800;font-size: 23px;padding: 16px;border-radius: 30px;cursor: pointer;}
.showhidetabs .nav-tabs > li > a:hover, .showhidetabs .nav-tabs > li > a:focus {border-color: transparent;}
.showhidetabs .nav-tabs > .active > a, .showhidetabs .nav-tabs > .active > a:hover, .showhidetabs .nav-tabs > .active > a:focus {cursor: default;background-color: #f2b862;border: none;border-bottom-color: transparent;color: #fff;font-weight: 800;font-size:  23px;padding: 16px;border-radius: 30px;}
.showhidetabs .tab-content.active { display: block; }
.showhidetabs .tab-content.hide { display: none; }
.showhidetabs {
width: 100%;
}
.elec-gas-buttons > li > a {
line-height: 1.25rem;
text-align:center;
border: none;
color: #fff;
font-weight: 800;
font-size: 23px;
padding: 16px;
border-radius: 30px;
cursor: pointer;
display: block;
padding: 0;
}

.elec-gas-buttons > li  {
line-height: 1.25rem;
background-color: #62c6f2;
border: none;
text-align:center;
color: #fff;
font-weight: 800;
font-size: 23px;
padding: 16px;
border-radius: 30px;
cursor: pointer;
width: 23%;
list-style: none;
margin-bottom: 35px;
margin-left:auto;
margin-right: auto;
position: relative;
display: inline-block;
}

.elec-gas-buttons {
text-align: center;
}

.clicked {
background-color: #f2b862!important;
}
.account-wrap input
{
max-width:20px;text-align:center; font-size:24px; padding:10px 15px;

}

#bar-chart-year, #bar-chart-month, #bar-chart-week {
display: block;
width: 100%;
position: relative;
min-height: 470px;
}

.sharelinkss a {
color: #fff;
}

a.canvasjs-chart-credit {
display: none!important;
}
#bar-chart-year .canvasjs-chart-canvas, #bar-chart-month .canvasjs-chart-canvas, #bar-chart-week .canvasjs-chart-canvas {
width: 100%!important;
display: block;
}

.elec-gas-buttons.weekbtn,  .elec-gas-buttons.monthlybtn, .elec-gas-buttons.yearlybtn {
  margin-top: 20px;
}

.user-sidebars img {
height: 60px;
left: -5px;
position: relative;
}

#tariff-table tr.address td {
width: 100%;
display: inline-block;
padding-bottom: 0;
padding-top: 10px;
}

.redzz, .redzz:focus, .redzz:active {
background: rgb(234, 73, 92);
color: white!important;
}

.totalrewardsamount, .lastrewardsamount {
  color: #000;
  font-weight: 600;
  line-height: 60px;
  font-weight: 400;
}


.redzz::placeholder {
color: white!important;
}

@media (max-width: 960px) {
.book-meter-btn-no {
width: 100%;
display: block;
text-align: center;
}
a.book-meter-btn.booked_meter {
width: 100%;
display: block;
text-align: center;
margin-bottom: 25px;
}
.registration-page-heading-energy-H {
font-size: 18px;
line-height: 27px;
text-align: center;
float: left;
width: 100%;
font-weight: 400;
}
}


.pay-price input[type="text"] {
width: 100%;
display: block;
font-size: 40px;
text-align: center;
}
.faq-round:hover {
color: rgba(252,84,98,1);
background: white;
border: 1px solid rgba(252,84,98,1);
}

.referlink img {
height: 43px;
} 

.noreferimg {
max-width: 45px;
margin: 0 auto 25px;
}

.pay-price span {
font-size: 40px;
}

.pay-price span {
font-size: 50px;
padding-top: 20px;
display: block;
}

p.sofar {
color: #eb5365;
font-size: 22px;
font-weight: 600;
}

@keyframes bounce {
0%, 100%, 20%, 50%, 80% {
-webkit-transform: translateY(0);
-ms-transform:     translateY(0);
transform:         translateY(0)
}
40% {
-webkit-transform: translateY(-30px);
-ms-transform:     translateY(-30px);
transform:         translateY(-30px)
}
60% {
-webkit-transform: translateY(-15px);
-ms-transform:     translateY(-15px);
transform:         translateY(-15px)
}
}

.col-sm-12.col-md-12.col-lg-2.desk-menu-dashboard {position: relative; top: initial;padding: 0;}
.welcome-ptl-container{width:100%;position:relative;}
.welcome-ptl{text-align: center;font-size: 3.2rem;font-weight: 500;color: #ea495c;}

@media (min-width: 768px) and (max-width: 1024px){
  .welcome-ptl-container{margin-top: 40px;top:10px}
  .welcome-ptl {font-size: 2.2rem;}
}

section.termandconditions .col-sm-12.col-md-12.col-lg-8 {margin:auto;}

.col-md-6.left{float:left;}
.col-md-6.right{float:right;}
.dash-p{color:#000;font-size: 13px;font-weight: 600;line-height: 28px;margin-bottom: 0;}
.dash-s{font-size: 22px;color: #ea495c;margin-top: 5px;display: block;}
.dash-msg{font-size:22px}

@media (min-width: 768px) and (max-width: 807px){
  .dash-msg{font-size:9px}
}

@media (min-width: 808px) and (max-width: 985px){
  .dash-msg{font-size:14px}
  }

a.gas_card.dash{padding: 30px 10px;}
#b{text-align: center;}

#tariff-table tr td{width:60%;font-weight:  500;font-size:  17px;}
.edit-icon{float:right; font-size:16px; color:#636363; margin-top:-30px; font-weight:400;}
.edit-icon img{width:20px; height:auto; margin-top: -6px;}
.update-label {font-size: 12px;}

.dash-hover:hover{box-shadow: 0px 0px 1px 1px #00000096;}
span.dash-over-text.title {color: #000;}
span.dash-over-text.line {color: #000;font-size: 16px;line-height: 2.7;float: none;}
span.dash-over-text.line::before,span.dash-over-text.line::after {display: inline-block;content: "";border-top: 1px solid #ea495c;width: 30%;margin: -13px 1rem;transform: translateY(-2rem);}
span.tariff-h-c-p.text-center.line::before,span.tariff-h-c-p.text-center.line::after {display: inline-block;content: "";border-top: 1px solid #ea495c;width: 9%;margin: -12px 1rem;transform: translateY(-1rem);}
.rewardsbox h2.line::before,.rewardsbox h2.line::after, .ref-title h2.line::before,.ref-title h2.line::after{
  display: inline-block;content: "";border-top: 1px solid #ea495c;width: 9%;margin: -12px 1rem;transform: translateY(-1rem);
}
.tariff-box{padding: 10px 60px}
.input-style{line-height: 3;background-color: #f1f1f1;font-size:17px;border-radius: 12px;padding-left: 27px;}
.edit-num-img{position:absolute;bottom:38%;right:13%;width:13px;height:13px;}
.edit-num-btn p{color:#666;font-size:12px;font-weight: 500;text-align:right;position:absolute;left:88%;bottom:8%}
.edit-num-btn:hover p{text-decoration: underline #666}
.mar-bottom{margin-bottom: 0.6rem}

@media (max-width: 576px) 
{
  .myaccount-input{right:0;padding-right:15px}
  .myaccount-label{margin-bottom:-1px;margin-left: 33px;}
  .input-style{text-align:center;padding-left:15px;margin-bottom:8px;margin-left:16px;font-size:16px;}
  span.dash-over-text.line::before, span.dash-over-text.line::after{width: 13%}
  .mar-bottom{margin-bottom: 0}
  .edit-num-btn p{bottom: 17%;}
  .edit-num-img{bottom:43%;}
}

@media (min-width: 576px) and (max-width: 830px)
{
  .input-style{font-size: 9px;padding:15px 0 11px 27px}
  .myaccount-label{font-size:9px;font-weight:500}
  .edit-num-btn p{font-size:7px;bottom:3%;}
  .edit-num-img{bottom:35%;right:12%;width:7px;height:16px;}
}

@media (min-width: 700px) and (max-width: 830px)
{
  .input-style{font-size: 13px}
  .myaccount-label{font-size:9px;font-weight:500}
  .edit-num-btn p{font-size:7px;bottom: 8%;}
  .edit-num-img{right:12%;width:7px;height:16px;}
  #tariff-table tr td{font-size:17px;}
}

@media (min-width: 830px) and (max-width: 1025px)
{
  #tariff-table tr td{font-size:12px;}
}

@media (min-width: 1025px) and (max-width: 1312px)
{
	.input-style{font-size: 13px}
  .myaccount-label{font-size:9px;font-weight:500}
  .edit-num-btn p{font-size:7px;bottom:2%}
  .edit-num-img{right:12%;bottom:35%;width:7px;height:16px;}
  #tariff-table tr td{font-size:12px;}
}

.form_opacity input {
  opacity: 0.6;
}

.social-footer-dash {
    padding: 20px 0px;
    width: 100%;
}

.socialButtonHome{ width:200px; text-align:center; margin:0 auto;}
.socialButtonHome li{display:online; list-style:none; float:left;}
.socialButtonHome li .fa{color:#000; font-size:25px;}


.dropdown-menu-right{position:absolute; left:0;}