  /*******************************************************************************************************

   NEW FAMILY SAVER STYLES

   *******************************************************************************************************/

   .menuBarFix {
    position: absolute;
    top: 0;
}

#family-saver-page-wrap {
    display: block;
    position: relative;
    background-color: #f5f9fc;
    min-height: 400px;
    margin-bottom: 0px;
    z-index: 1;
}
#family-saver-page-wrap a {
    text-decoration: none;
    font-weight: 500;
}


#family-saver-page-wrap header {
    display: block;
    position: relative;
    width: 100vw;
    background-repeat: no-repeat;
    vertical-align: top;
    margin-top: 0;
}

#family-saver-page-wrap section {

}
#family-saver-page-wrap section#family-saver-video {
    display: block;
    /* margin-top: 215px; */
}
#family-saver-page-wrap section#family-saver-video video {
    display: block;
    width: 70%;
    border-radius: 30px;
    margin: 0 auto;
}
#family-saver-page-wrap section#family-saver-video .description-wrap {
    display: block;
    width: 80%;
    text-align: center;
    margin: 38px auto 30px auto;
}
#family-saver-page-wrap section#family-saver-video .description-wrap a.get-a-quote {
    background: #0be7fe;
    background: -moz-linear-gradient(top, #0be7fe 0%, #34c3fe 100%);
    background: -webkit-linear-gradient(top, #0be7fe 0%,#34c3fe 100%);
    background: linear-gradient(to bottom, #0be7fe 0%,#34c3fe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0be7fe', endColorstr='#34c3fe',GradientType=0 );
    padding: 10px 30px;
    color: #fff;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    display: inline-block;
    transition: opacity 0.3s ease-in-out;
}
#family-saver-page-wrap section#family-saver-video .description-wrap a:hover {
    opacity: 0.85;
}
#family-saver-page-wrap section#family-saver-video .description-wrap h2 {
    font-weight: 500;
}
#family-saver-page-wrap section#family-saver-video .description-wrap p {
    display: block;
    margin-top: 14px;
    font-weight: 500;
    color: #12375C;
    line-height: 20.5px;
}
#family-saver-page-wrap section#family-saver-quotation-steps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    width: 80%;
    margin-left: 10%;
    margin-top: 65px;
}
#family-saver-page-wrap section#family-saver-quotation-steps .quote-step {
    flex-grow: 1;
    flex-basis: 100%;
    align-self: flex-start;
}
#family-saver-page-wrap section#family-saver-quotation-steps .quote-step .img-wrap {
    width: 100px;
    margin: 0 auto;
    margin-bottom: -12px;
}
#family-saver-page-wrap section#family-saver-quotation-steps .quote-step .img-wrap img {
    max-width: 100%;
}
#family-saver-page-wrap section#family-saver-quotation-steps .quote-step .step_heading {
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    display: block;
}
#family-saver-page-wrap section#family-saver-quotation-steps .quote-step .step_intro {
    font-size: 20px;
    margin-top: 0px;
    display: block;
    text-align: center;
}
#family-saver-page-wrap section#family-saver-quotation-steps .quote-step .step_detail {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #12375C;
    display: block;
}
#family-saver-page-wrap section#family-saver-quotation-steps .quote-step .step_detail + .step_detail {
    margin-top: -21px;
}

#family-saver-page-wrap section#family-saver-payments-and-interest {
    display: block;
    margin: 64px 10% 0 10%;
    width: 80%;
}
#family-saver-page-wrap section#family-saver-payments-and-interest .img-wrap {
    display: block;
    width: 100%;
    vertical-align: top;
    position: relative;
    z-index: 10;
}
#family-saver-page-wrap section#family-saver-payments-and-interest .img-wrap:after {
    content: '';
    display: block;
    width: 90%;
    height: 90%;
    border-radius: 30px;
    background-color: #ea495c24;
    transform: rotate(16deg);
    z-index: -1;
    position: absolute;
    top: 16px;
    left: 25px;
}
#family-saver-page-wrap section#family-saver-payments-and-interest .img-wrap img {
    max-width: 100%;
}
#family-saver-page-wrap section#family-saver-payments-and-interest .caption {
    display: block;
    width: 100%;
    vertical-align: top;
    height: 100%;
    position: relative;
    padding: 35px 30px;
    text-align: center;
}
#family-saver-page-wrap section#family-saver-payments-and-interest .caption h2 {
    font-weight: 500;
    font-size: 25px;
}
#family-saver-page-wrap section#family-saver-payments-and-interest .caption p {
    font-weight: 500;
    color: #12375C;
    display: block;
    margin-top: 12px;
}

#family-saver-page-wrap section#family-saver-benefits {
    margin-top: 30px;
}
#family-saver-page-wrap section#family-saver-benefits h2 {
    text-align: center;
    font-weight: 500;
    width: 80%;
    margin-left: 10%;
}
#family-saver-page-wrap section#family-saver-benefits ul {
    list-style-type: none;
    margin: 50px 0 0 0;
    padding: 0;
    display: block;
    width: 80%;
    margin-left: 10%;
    font-size: 14px;
}
#family-saver-page-wrap section#family-saver-benefits ul li {
    text-align: left;
    position: relative;
    margin-bottom: 56px;
}
#family-saver-page-wrap section#family-saver-benefits ul li .img-wrap {
    display: inline-block;
    width: 50px;
    vertical-align: top;
}
#family-saver-page-wrap section#family-saver-benefits ul li .img-wrap.fan-fix {
    width: 57px;
}
#family-saver-page-wrap section#family-saver-benefits ul li .img-wrap img {
    max-width: 100%;
}
#family-saver-page-wrap section#family-saver-benefits ul li span {
    vertical-align: top;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 17px;
    font-weight: 500;
    color: #12375C;
    margin-left: 10px;
}
#family-saver-page-wrap footer {
    display: block;
    margin: 45px 0px 230px 0px;
    text-align: center;
    padding-bottom: 20px;
}
#family-saver-page-wrap footer:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    background: radial-gradient(118vw 454px at 50% -39%, #f6fafc 50%, transparent 50.1%);
    width: 101vw;
    height: 200px;
    z-index: 10;
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 80%;
    margin-left: 10%;
    border-radius: 30px;
    top: 200px;
    margin-bottom: 240px;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {
    #family-saver-page-wrap {
        margin-top: 0;
    }
}
@media (min-width: 550px) {
    #family-saver-page-wrap section#family-saver-benefits ul {
        margin: 30px 10%;
    }
    #family-saver-page-wrap section#family-saver-benefits ul li {
        margin-bottom: 20px;
    }
}
/* @media (min-width: 767px) {
    #family-saver-page-wrap section#family-saver-benefits ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        margin-left: 10%;
        margin-top: 50px;
        width: 60%;
    }
    #family-saver-page-wrap section#family-saver-benefits ul li {
        align-self: flex-start;
        flex-grow: 1;
        flex-basis: 40%;
        margin-bottom: 23px;
        margin-right: 20px;
        position: relative;
        text-align: left;
    }
} */
@media (min-width: 1024px) {
    #family-saver-page-wrap section#family-saver-quotation-steps {
        flex-wrap: nowrap;
    }
    #family-saver-page-wrap section#family-saver-quotation-steps .quote-step {
        flex-basis: 20%;
        margin: 0 20px;
        text-align: center;
    }
    #family-saver-page-wrap section#family-saver-payments-and-interest .img-wrap {
        display: inline-block;
        width: 50%;
    }
    #family-saver-page-wrap section#family-saver-payments-and-interest .caption {
        display: inline-block;
        width: 50%;
        margin-left: -5px;
        text-align: left;
        padding: 45px 50px;
    }
    #family-saver-page-wrap section#family-saver-payments-and-interest .caption h2 {
        font-size: 35px;
    }
    #family-saver-page-wrap section#family-saver-benefits ul {
        width: 70%;
        margin-left: 15%;
    }
    #family-saver-page-wrap section#family-saver-video {
        margin-top: 0;
    }
    #family-saver-page-wrap section#family-saver-quotation-steps {
        margin-top: 100px;
    }
    #family-saver-page-wrap section#family-saver-payments-and-interest {
        margin: 120px 10% 64px 10%;
    }
    #family-saver-page-wrap section#family-saver-benefits {
        margin-top: 130px;
    }
    #family-saver-page-wrap section#family-saver-video .description-wrap a.get-a-quote {
        margin-top: 30px;
    }
}